[2018-08-24 21:22] FlashDaggerX opened #1 "Doesn't compile on Arch Linux 4.18.4. IPCPointerMove not declared here."
**OS** Arch Linux 4.18.4-arch1-1-ARCH

Tried to compile into a pacman package, but `cc` stopped when the compiler threw this (Stripped for formatting):
`cc -Os -pedantic -Wall -D__NAME__=\"berry\" -D__NAME_CLIENT__=\"berryc\" -D__THIS_VERSION__=\"0.0.1\" -D__CONFIG_NAME__=\"autostart\"  -I/usr/include wm.c -L/usr/lib -lX11 -lm -o berry`

`wm.c:190:6: error: ‘IPCPointerMove’ undeclared here (not in

[2018-08-24 21:26] FlashDaggerX commented on #1
I noticed in your Makefile that you're trying to use a different prefix for X11, one that doesn't exist on our systems.
`/usr/X11R6/`

[2018-08-24 21:38] JLErvin commented on #1
Looks like you're on version 0.0.1. Try upgrading to version 0.0.2 and see if the error persisits. Looks like you're using an old version of `ipc.h` which doesn't contain the IPCPointerMove command.

[2018-08-24 21:48] FlashDaggerX commented on #1
Yea, that was it, thanks. I usually use release tags for making packages.

Closed.

[2018-08-24 21:48] #1 closed

[2018-08-25 07:42] JLErvin opened #2 "Suggestions"
Please comment any suggestions you have to improve the window manager below. I can't promise that I will be able to implement everything, but I'm curious what people have to say!

[2018-08-25 23:39] naviabbot opened #4 "Unexpected Crash"
OS: Raspbian/Ubuntu 18.04
Activity to trigger: Close a window
Expected Behavior: Window closes
Exact Behavior: Berry closes

I did try this in two different systems. I checked the output of the X.org log and I'm not seeing any useful output to really provide to you. If there are other places to look, let me know and I'll get that info straight over.

[2018-08-25 23:43] JLErvin commented on #4
What's the output of `berry -v`

[2018-08-26 00:50] JLErvin commented on #4
Try upgrading to [0.0.4](https://github.com/JLErvin/berry/releases/tag/0.0.4) or just pulling from the main repository. This version fixes an issue when windows are closed on non-active workspaces or windows that have not been mapped.

[2018-08-26 19:09] JLErvin commented on #4
Should be fixed in eb759244310ff2b37ce7485d566ca741b0fe15f2 . Try pulling and see if this fixes the issue.

[2018-08-28 13:16] jolupa opened #5 "Polybar just in the middle of the screen."
I just autostarted the polybar I use normally and in berry it shows right in the middle of the screen and is treated like other windows with borders an so on.
I'm using Manjaro and used the Aur package for Arch.

[2018-08-28 13:17] jolupa commented on #2
Maybe a simple menu... I can't remember all the keys configured :P

[2018-08-28 13:24] FlashDaggerX opened #6 "Change prefix of manpage install - current target is a symlink."
Instead of opening a PR, just doing this to save time. The current `MANPREFIX` throws a build error when using the AUR installation.

Under `config.mk`:
[code]

When building, `MANPREFIX = $(PREFIX)/share/man` is owned by the filesystem, and aborts the package update. Seeing as how this points to `/usr/local/man` anyway, it should go there instead.

[2018-08-28 15:22] FlashDaggerX commented on #6
And while I'm here, the installation instruction in your README is wrong. The package is called `berry-git`, so the command would be

`yay -S berry-git`

[2018-08-28 17:35] JLErvin commented on #6
Should be fixed in https://github.com/JLErvin/berry/releases/tag/0.0.5

[2018-08-28 17:37] JLErvin commented on #5
Polybar support has been added in [0.0.5](https://github.com/JLErvin/berry/releases/tag/0.0.5)

[2018-08-29 00:18] FlashDaggerX commented on #6
Both issues have been fixed

Closing.

[2018-08-29 00:18] #6 closed

[2018-08-29 14:14] jolupa commented on #5
Perfect! Working!

[2018-08-29 14:14] #5 closed

[2018-08-30 03:44] #4 closed

[2018-08-31 12:30] FlashDaggerX opened #7 "Window's `focus_color` appears on top of the window when clicked."
*Commit [`e8fea835679d233d51049d431cdb4eb05ab1262b`](https://github.com/JLErvin/berry/commit/e8fea835679d233d51049d431cdb4eb05ab1262b)*

Not really sure how to describe it, [so here's a one second video](https://youtu.be/ScKPAxa9h3Y) depicting my issue. It happens for a split second before reverting back to normal, but comes back when it's clicked. It happens to all windows, regardless of size.

*

[2018-08-31 12:41] FlashDaggerX commented on #7
I didn't get it recorded because I just discovered it, but I also found that switching to workspaces with windows in it (Typically, fullscreen windows) are painted orange (the default `focus_color`) for a few seconds.

[2018-09-01 03:35] nan0s7 opened #8 "Minor README issues"
Just letting you know that the commands given in the "copy the sample configuration files" section aren't copy-and-paste-easy.

(assuming the user is still in the berry folder from installation):
`
mkdir $HOME/.config/berry
cp example/sxhkdrc $HOME/.config/berry/sxhkdrc
cp example/autostart $HOME/.config/berry/autostart
`

Changed:

- Removed the `berry/` from the second line
- Removed the "s" fro

[2018-09-01 04:17] nan0s7 commented on #2
I don't know whether I'm just missing something but I can't figure out how to make use of the mouse-controlled window moving - right now it feels like everytime I alt+click the window moves in a random direction. It'd be much easier if it was more like a click and drag functionality.

[2018-09-01 04:31] nan0s7 opened #9 "Minor issue with moving windows on dual-monitor setups"
Hey, loving your work so far.

I'm currently using a dual-monitor setup, with my left monitor being 1440x900 and my right 2560x1080.

Moving the mouse cursor around the screens works perfectly, so it respects the screen borders and all that jazz. However, if I move a window to my second/1440x900 monitor, I can move the window off the screen and it stops at an invisible border as if my screen was 1

[2018-09-01 16:37] JLErvin commented on #8
Thanks! All this should be fixed in e8301d047883ca52c5ea4ca208eb13b077caf8e1 . See if this satisfies you and we can go ahead and close this issue.

[2018-09-01 16:51] nan0s7 commented on #8
Looks great! Can I ask, was sxhkd supposed to be started by berry upon launch? As it didn't work for me and I had to add the `sxhkd -c $HOME/.config/berry/sxhkdrc` line to my `$HOME/.config/berry/autostart` for it to work. This is *with* a display manager by the way.

[2018-09-01 19:45] JLErvin commented on #8
No berry doesn't start `sxhkd` on its own. I want this to be as unix-y as possible so people can use whatever keyboard daemon they want. I assume most people will have their own place they want to start something like `shxkd` (maybe a custom startup script, in `autostart`, or in `.xinitrc`)

[2018-09-02 07:45] nan0s7 commented on #8
Ah yeah that makes sense then. Well consider this issue solved then! :D

[2018-09-04 19:36] JLErvin commented on #9
Using my current monitor implementation (of which there is none) this is an expected problem when using monitors with different resolutions (the secondary monitor will default to the resolution of the main monitor). I'm currently working on this for a future release so I'll keep you posted.

[2018-09-04 19:38] JLErvin commented on #2
@nan0s7 For the first issue, this should be fixed by using `sxhkd` version 0.5.5 or earlier. Later version don't add motion support which is why it is all funky.

I'll investigate the window decorations issue as well as the mouse cursor and get back to you.

[2018-09-12 20:37] #8 closed

[2018-09-22 12:55] torvim opened #10 "Black screen on launch"
When I launch berry (no dm), it launches into a black screen, without a cursor.

[2018-12-27 20:42] JLErvin commented on #9
Full multi-monitor support has been added as of [0.0.7](https://github.com/JLErvin/berry/releases/tag/0.0.7)

[2018-12-27 20:46] #9 closed

[2018-12-28 04:55] nan0s7 opened #12 "Symbolic link error upon install"
` ~/Sources/berry $ cp example/sxhkdrc /home/scott/.config/berry/sxhkdrc
cp: cannot stat 'example/sxhkdrc': Too many levels of symbolic links`

Looking at the sxhkdrc file; it says it is a broken link.

[2018-12-28 05:17] JLErvin commented on #12
Very weird, not sure how that happened. Fixed in https://github.com/JLErvin/berry/commit/61a556cb6eacce43a6d31e3b6cb51b493cfe9767

[2018-12-28 08:56] nan0s7 commented on #12
Yep that fixed it.

Instead of opening something else; how do I know which monitor has which number associated with it for multi-monitor setups? I'm assuming monitor 1 is the main one? Or would that be monitor 0?

[2018-12-28 19:59] JLErvin commented on #12
You can really use whatever utility you prefer. You can use `xrandr` and simply use `xrandr --listmonitors` to tell you which monitor is assigned to which screen. You could also use something like [disputils](https://github.com/tudurom/disputils). I'll add this to the README, however, as I'm sure other people will have this same question.

[2018-12-29 05:47] nan0s7 commented on #12
Ah okay, so `xrandr --listmonitors` gives:

`Monitors: 2
 0: +HDMI-2 2560/673x1080/284+1440+0  HDMI-2
 1: +HDMI-3 1440/408x900/255+0+0  HDMI-3`

However, I cannot get my second (monitor 1) monitor working no matter what I have as arguments for the `berryc save_monitor x x` option/command in the autostart file. The very first window I spawn (usually just urxvt) is place in the middle of both, but m

[2019-01-10 15:25] nick92 commented on #10
also getting a similar issue on load, but cursor is showing for me, installed via yay berry-git and using lightdm

[2019-02-07 17:12] rapha8l commented on #2
Hi,
Thanks for your WM, it's very nice.
My suggestion would be to have the possibility to set in config a particuliar mode by default for windows for example having all new windows in monocle mode (specially my workflow)
Thanks

[2019-06-23 19:38] paoloschi commented on #2
I love very much in general the software that allows to remote interact via bash scripts, so **I can only love** _berry_, that I just found out today!

**proposal 1/2**:
Windowchef adds to each window the WINDOWCHEF_STATUS property whose value is a JSON object that returns a bag of information not otherwise available via _xprop_; for example

[code]

I have always found in WINDOWCHEF_STATUS a very

[2019-06-23 19:49] JLErvin commented on #2
@paoloschi

These are both excellent suggestions. I'll look into implementing both of these.

Number 1 should be fairly simple to implement since `berry` already maintains the internal state of each of its clients - I really just need a way to report this information to clients.

Number 2 might be a little trickier - I would like some time to think about the best way to implement this cleanly. I h

[2019-06-25 10:11] Djamy commented on #10
Hello,

Same black screen after testing it on a VM with Ubuntu 18.04.
Do you have tips to help ? Logs somewhere ?
Thanks.

[2019-06-25 10:19] ekomizer commented on #10
Do a `chmod +x` on the `autostart` file.

[2019-06-25 18:29] paoloschi commented on #2
That's great! ...and also consequently collect all JSON objects from all existing clients (mapped & unmapped) in a single JSON array available via `xprop -root <PROP_NAME>` would it be equally easy to achieve?
(paradoxically, from bash thanks to tools like _jq_ I find it has become more handy to acquire data from JSON documents rather than parsing STDOUT columns from _xprop_ itself or from _wmctrl

[2019-06-26 07:34] Djamy commented on #10
Unfortunately that didn't help

[2019-06-26 16:52] JLErvin commented on #10
Try redirecting the output to a log file and post the output here. My guess is that berry isn't starting correctly but this should help narrow it down. Start berry with the command `berry > /tmp/log.txt 2>&1` and upload the output here and I'll take a look.

[2019-06-26 18:51] FlashDaggerX opened #17 "Installing files in a pacman fakeroot environment fails without access to '/usr/local'"
The package in the AUR fails to build because the `Makefile` tries to install it in the **real** filesystem root. When building pacman packages, a **fakeroot** is created so the files owned by the package can be placed in the filesystem properly.

I pushed a patch upstream to the AUR so the package builds properly. Here's the patch currently in upstream:
[code]

[2019-06-26 22:12] JLErvin commented on #17
This looks good to me and successfully builds locally. Go ahead and open a pull request and I can merge.

[2019-06-26 22:22] FlashDaggerX commented on #17
That's why I opened the issue. I know it breaks the workflow, but I prefer not doing pull requests if I don't have to.

[2019-06-26 22:24] JLErvin commented on #17
Ok. I'll make the changes. Thanks for doing this.

[2019-06-27 16:06] paoloschi commented on #2
Personally I have never used the desktop toolbar __yabar__ but I was reading the features today and I wonder if the technique it adopts could be inspiring:
https://github.com/geommer/yabar/blob/master/doc/yabar.1.asciidoc

Among other features
- A growing set of ready-to-use internal blocks developed in plain C.
- Entirely clickable.

no dependence on any toolkit while, where it is required to add

[2019-06-27 18:59] Ergo0 commented on #2
Maybe add a way to configure a set workspace to not have any window decorations for windows spawned in that workspace. This would help with steam because the decorations make the program act a little buggy.

[2019-06-28 20:57] Ergo0 commented on #2
Another thing which might be nice as a supplement to my earlier suggestion would be to add a way to only allow for window decorations on certain windows spawned by programs you allow to have window decorations.

[2019-06-28 23:18] FlashDaggerX commented on #17
I noticed that you reverted the change. Was there some sort of issue?

[2019-06-28 23:20] JLErvin commented on #17
Ah yes I was going to ping you about this soon. The package builds with the patch so long as I don't change the Makefile. Making the changes here cause the build to fail, however.

[2019-06-28 23:24] FlashDaggerX commented on #17
I'll keep the patch upstream in the AUR for now. This'll be on my #TODO when the issue occurs again.

[2019-07-01 13:02] Djamy commented on #10
Hi, thanks for your answer.

Here is the output of the berry command :
`berry: font not specified, loading default font
berry: Successfully opened display
Fatal request. request code=2, error code=10
X Error of failed request:  BadAccess (attempt to access private resource denied)
  Major opcode of failed request:  2 (X_ChangeWindowAttributes)
  Serial number of failed request:  22
  Current seria

[2019-07-01 16:08] JLErvin commented on #10
@Djamy `berry` cannot be started inside of another xsession. Does this error persist if you start `berry` by running `startx` inside of `tty` or by starting from a display manager.

[2019-07-07 14:21] jolupa commented on #17
Hi! Trying to make a package for crux but the problem is the same, I can't use the fakeroot to build the package and the patch is not working... Is possible to change the make file to use fakeroot?
Thanks!

[2019-07-07 15:25] nobobo1234 opened #18 "Multi monitor and wallpaper..."
Hey! I love your WM, have been playing with it for the whole day now. I still got a few questions.
1. How can I make it so I can use 2 monitors for 1 workspace. E.g. when I move a window to another monitor and switch workspaces or reload berry it will switch back to the other screen. Same for when I press `f` or `m` to maximize the window.
2. How can I apply a wallpaper. I tried using `squash` but

[2019-07-07 20:57] JLErvin commented on #18
Question 2 isn't manage at all by `berry` so I won't address that here. You can try using `xsetroot`, `hsetroot`, or another wallpaper application like `nitrogen` to manage this.

As for your second question, I would like to clarify a few things. You have associated workspaces with monitors and then manually move a window from one monitor to another. And now you want the window to be associated wi

[2019-07-07 21:02] JLErvin commented on #2
@Ergo0 I'm going to look into your second suggestion. Being able to blacklist certain applications from drawing decorations would be helpful. I'm sure there's a way to automate this if a client wants to draw its own decorations, but I'm unfamiliar with the protocol as of now. In the meantime I can try adding a `berryc` command to not decorate windows from a certain process name (i.e. `steam`)

[2019-07-08 06:48] nobobo1234 commented on #18
No, sorry if I was unclear. The problem is that I want a workspace to be able to 'use' multiple monitors. So that, for example, workspace one is associated with monitor one and two and I can freely move windows between the two. And that if I press `mod+f` or `mod+m` that it will go fullscreen or maximize on the monitor it's currently on.

[2019-07-08 08:42] nobobo1234 commented on #18
Oh and one more thing, it seems like when using this with compton's `blur-background` it takes the background to be the border radius and not the actual background I set.

[2019-07-08 09:01] StrangeAmoeba commented on #2
Another suggestion would be a Workspace quick switcher, (kind of like i3's back-and-forth).

[2019-07-08 12:22] FlashDaggerX commented on #17
@jolupa  The patch I have above worked for _JLErvin_ for a little while, but had to go back to his previous version because there were build errors.

The patch above suggests using an environment variable during build, in which you set the fakeroot to the current folder. In your _PKGBUILD_'s  `build()` function, suffix the call to make (or whatever) with `DESTDIR="$pkgdir"` and make sure it's pres

[2019-07-08 13:12] jolupa commented on #17
@FlashDaggerX Oh! thank you that worked!
But I think that needs to be some easy way of doing the install in a fakeroot for packages building.
Thanks.

[2019-07-08 15:55] JLErvin commented on #17
@jolupa if the included makefile were like the one that @FlashDaggerX included above, does the build work?

[2019-07-08 17:07] jolupa commented on #17
@JLErvin Yeah! it worked perfectly... In a few minutes I will try it to see if it works!
Thanks.

[2019-07-09 03:52] JLErvin commented on #17
Ok I'll push a commit that changes the default Makefile to the one above. I believe that the patch breaks if we use the new makefile instead of the old one. Once I push, can you remove the patch? @FlashDaggerX

[2019-07-09 07:29] FlashDaggerX commented on #17
Will do. Something is bothering me though, because this wasn't happening a few weeks ago. I can't find any significant changes to your makefile, so something must've changed on Arch's side.

[2019-07-11 05:05] JLErvin commented on #2
@StrangeAmoeba good idea, added as of f7f066632c0a205d35a0a38b68723f6bee4fada0

[2019-07-11 22:11] jolupa commented on #10
Hi!
Same problem here, after installing berry and launch through a multiple .xinitrc, tryied only berry in the .xinitrc, but it didn't work black screen, no color background (I put a color background on autostart) and didn't work.
But if I launch Google Chrome is launched. But if I launch the terminal (xfce4-terminal) berry crashes and I go back to tty.
The autostart file is executable.
Any help?

[2019-07-12 19:35] ZoeFiri opened #22 "blackscreens and then crashes as soon as an X program opens"
as the title describes, log of output from startx.
http://ix.io/1OhD

This issue is consistent trying to clone and build, using the latest tar under releases, and with the AUR package.
Could it be an issue with having both 32 and 64 bit libs?
lib32-libxft 2.3.2-2
libxft 2.3.3-1
lib32-libx11 1.6.7-1
libx11 1.6.8-1

[2019-07-12 20:20] jolupa commented on #22
I think this is is the same problem we are having [here](https://github.com/JLErvin/berry/issues/10) it seems is spreading...

[2019-07-13 05:58] ZoeFiri commented on #22
I can change the X root just fine, worth noting I guess.

[2019-07-15 16:53] LucaT1 commented on #10
Okay, so I believe that this is a problem with fonts. In fact, I tried to log the output as described here:

and it threw a segfault when drawing text. I think this is because on voidlinux(what I'm currently using) no font is available when installing the xorg package. So I tried installing `font-firacode` and started the X session and it worked. Hope this helps somebody.

[2019-07-15 17:15] jolupa commented on #10
Um! I have xfonts installed and the blank screen remains... I can launch program but nothing about the background color, all black....

[2019-07-15 17:23] LucaT1 commented on #10
Aw yeah tough the topic was different. Have you tried hsetroot or feh to set the background

[2019-07-15 17:29] jolupa commented on #10
Yeah is set with hsetroot... But nothing! :cry:

[2019-07-15 23:26] JLErvin commented on #10
@jolupa can you post your `.xinitrc`, your `autostart`, and a log file from crashing

[2019-07-16 17:26] JLErvin commented on #7
This and any associated flickering should be totally fixed as of 60bdf516f72d8ea7adf3e8f413ba6f9b43436e39

[2019-07-16 23:40] jolupa commented on #10
Hi! sorry for the delay.
Here are my .xinitrc and autostart
Thanks.
.xinitrc
[code]

Autostart
[code]

[2019-07-17 03:51] JLErvin commented on #10
@jolupa can you post a log file from the crash? Simply start `berry` with:

`berry > /tmp/log.txt 2>&1`

[2019-07-17 08:51] jolupa commented on #10
@JLErvin Here's the log file, not any error except for the font.
I think that I made something wrong. Now I have a background, the one I want, but the mouse pointer is not showing 'till the first window is open.
Don't know... :stuck_out_tongue:
[log.txt](https://github.com/JLErvin/berry/files/3400918/log.txt)

[2019-07-17 16:32] JLErvin commented on #10
@jolupa this is the whole log file?! That isn't even an error - that's just `berry` letting us know that you didn't specify a font via the command line and it will instead load the default font (i.e. Monospace 10) from `config.h`. If there's more to the log please post it.

[2019-07-17 16:39] jolupa commented on #10
@JLErvin no that's all. Viewing the log I think that the problem, maybe, is in my side. As I told you beofore, now I have background and the only weird thing is that I don't have cursor till the first window is open.

[2019-07-17 16:51] JLErvin commented on #10
@jolupa oh, this is the correct behavior.

[2019-07-17 17:15] JLErvin commented on #22
@ZoeFiri hm I'm very confused by this problem. I tried installing both 32/64 bit X libs and didn't have any trouble on my end. I'm leaning towards this being not directly associated with `berry` as the log file generates errors from `xcb`, which is not the X library that `berry` uses. Have you tried updating your system recently?

[2019-07-17 18:46] paoloschi opened #25 "[feature request] properties _NET_WM_DESKTOP _NET_FRAME_EXTENTS to be setted"
In _berry_, if I run this command...

[code]

I can't migrate some of my automation scripts without them; in particular I miss the first one without which I don't know how I could otherwise have a complete overview of the position of all windows on the different workspaces.
The second one can be used to determine the current status "decorated == yes|no"
I don't know how else to get such values and

[2019-07-18 03:31] JLErvin commented on #25
Just added these to the development branch [blackberry](https://github.com/JLErvin/berry/tree/blackberry). Although I'm a bit confused by your description of this protocols. According to the [ewmh](https://standards.freedesktop.org/wm-spec/wm-spec-latest.html#idm140200472552416) documentation, `_NET_WM_DESKTOP` should report the current desktop of the given client and `_NET_FRAME_EXTENTS` should r

[2019-07-18 03:31] #7 closed

[2019-07-18 03:57] FlashDaggerX commented on #17
Not relevant in current master (83dfb3d), will open once it occurs again.

[2019-07-18 03:57] #17 closed

[2019-07-18 08:10] paoloschi commented on #25
My ability to express myself clearly in English is limited and I apologize for that (I often have to use an automatic translator :-[).

In order to be sure that I was making a correct request, I consulted the same document just yesterday. Regarding the two specific properties he recommends, among other things, that "_The Window Manager should honor_ _NET_WM_DESKTOP..." and also "_The Window Manage

[2019-07-18 22:25] JLErvin commented on #25
Added to master as of https://github.com/JLErvin/berry/commit/e519be4de6abbe0b756b2ddde1921aa98e06487a

[2019-07-19 08:48] paoloschi commented on #25
compiled, tested, enjoyed! ;-D
so this issue just needs to be closed now
thanks again

[2019-07-19 17:45] #25 closed

[2019-07-20 16:03] crian opened #29 "Support for _NET_DESKTOP_NAMES"
Can you add support for _NET_DESKTOP_NAMES?
So it is usable with polybars xworkspaces.

[2019-07-20 20:16] JLErvin commented on #29
Just to clarify, this is something set by the window manager? For example, you would tell `berryc` to name the first virtual desktop as `browser` and this would be reported by any application that requests to know the values of `_NET_DESKTOP_NAMES`?

[2019-07-28 00:55] JLErvin opened #30 "support for BERRY_WINDOW_STATUS"
I'm opening this issue to discuss one of the enhancements mentioned in the feature request thread [here](https://github.com/JLErvin/berry/issues/2#issuecomment-504780683).

Specifically the first suggestion which allows clients to query information about internal window state via `xprop`.

I've starting working on this in the development branch, and I'm open to suggestions. First, a few questions

[2019-07-28 09:19] paoloschi commented on #30
1. At this point it would be useful to know how many users are potentially interested in interacting/automating operations through scripting....
I am a self-taught old geek and therefore I can allow myself to say, against any orthodoxy (...), that storing data in JSON format and then treating them with the **jq** command from _Bash_ -very out of context, therefore...-, at least for me has been the

[2019-07-28 10:12] crian commented on #29
This should add compatibility for programs and bars (polybar) which need workspace informations.
Furthermore you could add EWMH support for:
[code]
To make it even more compatible.

[2019-07-28 20:00] JLErvin commented on #30
I think I'll move forward with a split approach. By default, users can use `BERRY_WINDOW_STATUS` to retrieve information about the client in a JSON format. I'll add a new `berryc` command to toggle between this and a plain-text version for users wishing to parse the information using something like `sed`.

I've played around with the idea of something like `berryq`. My only reservation is redundan

[2019-07-30 17:28] JLErvin commented on #29
Added and tested in the development branch. I'll merge with master soon - feel free to try it out in the meantime.

Commit: 33dc9de2ab18aade3de00ad9120fa0b7bc1a96aa
[branch](https://github.com/JLErvin/berry/tree/blackberry)

[2019-07-30 17:29] JLErvin commented on #30
Can you post a sample `jq` command that would parse the output of something like `windowchef`?

[2019-07-30 17:36] crian commented on #29
Nice! Will try it.

[2019-07-30 18:45] paoloschi commented on #30
[code]

something like that?

[2019-07-30 20:11] JLErvin commented on #30
Ok yeah that's perfect. I'm testing on the development branch right now but it looks like it works just fine with jq. I'll merge with master in the coming days and let you know.

[2019-07-30 20:52] paoloschi commented on #30
awesome!

I was thinking now: since can be added as many hints as one want with arbitrary names, is it worth touching berryc to add the new command?
the 2 formats could also coexist ...something like BERRY_WINDOW_STATUS and BERRY_WINDOW_STATUS_JSON?

[2019-07-30 21:02] JLErvin commented on #30
Switching between the two is already implemented in the development branch [here](https://github.com/JLErvin/berry/blob/33dc9de2ab18aade3de00ad9120fa0b7bc1a96aa/src/client.c#L72).

I think I'll stick to just a single property - I can't see a use case for people needing both.

[2019-09-13 16:47] Djamy commented on #10
@JLErvin Hello, I'm still struggling with this and I cannot start berry from gdm3..
I traced the syslog and found a segfault from libc-2.27.so (and a fantastic "fuck me" in it :rofl: )

Could you help to understand what is wrong and why I can't use your wm, please ?

[berry_syslog.log](https://github.com/JLErvin/berry/files/3610983/berry_syslog.log)

[2019-09-14 03:22] JLErvin commented on #10
@Djamy I recently added a fix that was causing crashes on the [development branch](https://github.com/JLErvin/berry/tree/blackberry). Can you try cloning and remaking the project from here and see if it fixes the issue.

P.S. I need to screen my commits better next time haha

[2019-09-14 03:27] #29 closed

[2019-09-14 14:05] Djamy commented on #10
@JLErvin Thank you, it seems to solve my problem.
Now I'm facing a kind of blank screen but it is supposed to be the correct behavior as you said, still how can I have the mouse cursor or even launch programs ?

[2019-09-14 22:20] JLErvin commented on #10
@Djamy enough people were requesting a default cursor that I just added one as of [0.1.2](https://github.com/JLErvin/berry/tree/0.1.2)

With regards to launching applications this is something you will have to do on your end. Following the traditional unix philosophy, `berry` doesn't handle something like launching applications for you. If you are looking for good application launchers I personall

[2019-09-14 22:24] JLErvin commented on #30
This has been merged with main for a while now. Feel free to reopen should anything else come up.

[2019-09-14 22:24] #30 closed

[2019-09-14 22:25] JLErvin commented on #22
@ZoeFiri @jolupa this issue should be fixed as of version [0.1.2](https://github.com/JLErvin/berry/tree/0.1.2). Feel free to remake the project and let me know if any more issues arise.

[2019-09-15 00:09] vaskark commented on #10
I'm experiencing the same problem on Ubuntu 19.04. Starting from gdm just loops me back there. Starting from CLI I receive:

`berry: font not specified, loading default font`

That's it. It seems like this has been solved for others above, but I'm still having trouble.

[2019-09-15 10:32] Djamy commented on #10
@JLErvin Okay thank you, I'll see how I can handle this on myself.
@vaskark You should try to checkout the blackberry branch :

[2019-09-15 13:01] HedariKun opened #35 "[Question] about transparency"
is it possible to have transparent stuff with compton?
if now is there any plan to add something like this in future ?

[2019-09-15 17:52] vaskark commented on #10
@Djamy Ok. I'm on dev branch. Loads fine now, except for font.

[2019-09-15 17:57] lieuxnoir opened #36 "send_to_workspace unintended behavior"
Steps to reproduce:
- Spawn a terminal (or any program).
- `send_to_workspace {0-9}` (`sxhkd` bindings)
- Go to previous workspace (where the window was last contained).
- The window is still there (the bug).

[2019-09-15 19:09] JLErvin commented on #10
@vaskark what happens with the font? If you are getting that message but the fonts are still drawn then there is nothing wrong - it must means you aren't specifying a font at startup with the `-f` flag.

[2019-09-15 19:11] JLErvin commented on #36
Looking into this now. Probably something I messed up after refactoring window draw orders.

[2019-09-15 19:23] vaskark commented on #10
@JLErvin My apologies. I didn't have it formated properly in my autostart above. All is fine now :)

It's a neat wm. Congrats, and thank you.

P.S. I'm starting berry from gdm. Is there an exit command I can set in sxhkdrc?

[2019-09-15 20:04] arnolddinkla commented on #35
Yes it is but you need to install compton. JLErvin has a compton config in his dotfiles.

[2019-09-15 21:12] JLErvin commented on #10
@vaskark This has also been a requested feature so I'll add a dedicated command in a future update. Until then that works fine, however.

[2019-09-16 04:10] JLErvin commented on #36
@lieuxnoir should be fixed on the development branch as of 4b4df8c2fcf9df6a95d49460ef6b9365b7430bff . Can you try pulling/remaking from there and see if this fixes your issue.

[2019-09-16 04:34] lieuxnoir commented on #36
I can confirm. It's working now. Thanks. :smile:

[2019-09-16 04:39] #36 closed

[2019-09-16 05:13] lieuxnoir opened #39 "cannot support youtube videos on full screen"
Steps to reproduce:
- Open any browser (`firefox` in my case).
- Proceed to [YouTube](https://www.youtube.com) and play any video.
- Making the video full screen does not work (the bug).

Note: It works on `dwm`. I haven't tested other WMs.

[2019-09-16 05:15] JLErvin commented on #39
What does not work? Do you mean the application is not maximized fully (i.e. the video would take up the entire display)?

[2019-09-16 05:30] lieuxnoir commented on #39
The video itself (i.e. pressing `f` during the video or clicking the full screen icon on the lower right part of the video), not the browser.

[2019-09-16 17:27] vaskark commented on #35
I have compton installed, and I only experience transparency when window decorations are off.

[2019-09-19 01:24] lieuxnoir opened #42 "centering nothing crashes berry"
Steps to reproduce:
- While using berry, go to any blank workspace.
- Press the binding for `berryc window_center`.
- `berry` crashes.

Note: This is tested on the latest commit on the `master` branch of `berry`. Untested on the latest stable release version.

[2019-09-19 01:32] lieuxnoir commented on #39
UPDATE: Fullscreen youtube video only works if the browser is on fullscreen (`berryc fullscreen`) as well.

[2019-09-19 20:38] TaylanTatli opened #43 "berry crashes when xev started"
Here is the output:
[code]
When i run xev -event keyboard berry gives berry: client has class @?�ߒU output and crashes.

Here is my xinitrc
[code]
 Berry is installed from AUR and version is 0.1.2.r7.g8aa8085
Also berry is not starting without chmod +x autostart
And berry crashes a lot when starting apps other than xev.
Thanks.

[2019-09-19 22:10] JLErvin commented on #43
@TaylanTatli thanks for the detailed writeup - I was able to reproduce this on my end. Should be a quick fix but I'll keep you updated.

[2019-09-19 22:11] JLErvin commented on #42
Fixed as of c2c8d61319b078ab7e13115d5cca161cf513c62f. I plan on adding a few bug fixes before merging but this will be available on master soon.

[2019-09-19 23:50] lieuxnoir opened #44 "suggestion: window_monocle"
Current behavior:
1. Open a window (any program) and remember it's size and location (optionally, you can also resize/move the window, just remember it's size and location).
2. Toggle monocle mode on.
3. Resize/move the window (while monocle mode is on).
4. Toggle monocle mode off.
5. Notice that the window is back to its initial size and location (from step 1).

Suggested behavior:
1. Open a wind

[2019-09-20 19:42] JLErvin commented on #44
I agree this behavior is better than the current one. Implemented as of dff2c811ebc31818885a160c06e85f0b660fcca5

[2019-09-20 23:24] JLErvin commented on #43
@TaylanTatli should be fixed as of 67f16df94dfcb8da70790085fd8390eabe734f6f on the development branch. I will continue testing for a day or two before merging to master but feel free to build from there and see if this fixes your issue.

[2019-09-21 03:37] #44 closed

[2019-09-21 03:38] JLErvin commented on #43
Merged with master as of 0.1.3

[2019-09-21 03:38] #43 closed

[2019-09-21 03:38] JLErvin commented on #42
Merged with master as of 0.1.3

[2019-09-21 03:38] #42 closed

[2019-09-21 03:39] JLErvin commented on #22
Closing due to inactivity and likely resolution. Will reopen should this come up again.

[2019-09-21 03:39] #22 closed

[2019-09-21 03:40] JLErvin commented on #10
@vaskark `berryc quit` has been implemented as of 0.1.3. Closing this issue due to inactivity.

[2019-09-21 03:40] #10 closed

[2019-09-21 03:42] JLErvin commented on #35
I have not implemented anything special to allow for transparency - but this should be possible using compton. Should someone want to implement this I would be open to reviewing pull requests - although I will not be implementing it personally.

[2019-09-21 03:42] #35 closed

[2019-09-21 04:01] lieuxnoir opened #46 "window_monocle stops working"
Steps to reproduce:
1. Open any window (any program).
2. Enable monocle mode.
3. Disable monocle mode.
4. Enabling monocle mode once again doesn't work anymore.

Note: Resizing/moving after step 3 (and before step 4) makes monocle mode work again.

[2019-09-21 04:42] JLErvin commented on #46
Ah, fixed in 717486bde9ddca2d984aa48c93f14d1fbff2b54c

[2019-09-21 05:18] lieuxnoir commented on #46
Thanks! :D Closing.

[2019-09-21 05:18] #46 closed

[2019-09-21 12:22] TaylanTatli commented on #43
It works, thank you.

[2019-09-21 13:38] lieuxnoir opened #48 "window on previous workspace does not lose focus"
Steps to reproduce:
1. Open any program. I'll be using the terminal as an example.
2. Go to an empty workspace.
3. Type something on the keyboard while on the empty workspace.
4. Go back to the previous workspace where the terminal is located.
5. Notice that the input made on the empty workspace was present on the terminal.

Note: Occurs on other programs (e.g. closing a tab in firefox, etc.).

[2019-09-21 18:03] JLErvin commented on #48
I'm amazed I never noticed this before. Credit to `vain` who implemented something similar in `katriawm`

Fixed in 5026ed72e0860df9915a8e3dcade047dc7bbae6e

[2019-09-22 07:32] lieuxnoir opened #52 "weird behavior on workspace 0 (zero)"
Steps to reproduce:
1. Go to workspace 0 (zero).
2. Open a window (any program).
3. Go to another workspace to see the bug.

Note: Immediately closing the window in step 2 will also show the bug.

[2019-09-22 19:36] JLErvin commented on #52
Ah this was actually semi-intended behavior that worked incorrectly.

There is a question of whether or not you want to bind "Super + 1" to send you to workspace 1 or workspace 0. Personally I think it makes more sense to send you to workspace 0. I've made the relevant change in `wm.c`, but you should also change your
`sxhkdrc` to the following to get consistent behavior:

[code]

[2019-10-06 07:49] mhlyv commented on #2
A reverse-cycle-focus function would be convenient if you have many windows on a workspace.

[2019-10-06 13:01] onodera-punpun opened #54 "[xcb] Unknown sequence number while processing queue SIGABRT"
No idea why this happens, freshly compiled and no changed made, error:

[code]

[2019-10-06 20:00] JLErvin commented on #54
This is a curious issue since `berry` uses the `xlib` library, not `xcb`. Still, it could be something on our end - although I'm more convinced it's some difficult to track down race condition.

Could you post your log file/try to recreate the error so I can do some more thorough investigation?

[2019-10-06 20:05] dylanaraps commented on #54
On my machine `libX11` (`xlib`) depends on `libxcb` (*I'm not sure if this is always the case*). I've come across this issue too and I was also unable to fix it.

The steps to reproduce it on my machine are simply:

- Compile `berry` (`make`)
- Launch `berry`.
- Above error.

I'm running with `musl` `libc` for reference.

[2019-10-06 20:07] dylanaraps commented on #54
`libX11` always requires `libxcb`:

[code]

From: https://github.com/mirror/libX11/blob/master/configure.ac#L80-L82

[2019-10-06 20:08] JLErvin commented on #54
Yes that's true - I just meant that there is no explicit `xcb` code used inside of `berry`.

Nonetheless, I'll setup a VM with some `musl`-based distro and try to debug this.

[2019-10-06 20:09] dylanaraps commented on #54
Note: I'm unsure if @onodera-punpun is using `musl` also. This may be reproducible on `glibc` too.

[2019-10-06 20:12] dylanaraps commented on #54
Not sure if this is of any use to you as it's related to a `rust` library, however it looks like the same issue: https://github.com/rust-windowing/winit/issues/458

[2019-10-06 22:10] JLErvin commented on #54
@dylanaraps I saw that as well but I'm not sure if it's applicable to our problem yet.

[2019-10-06 22:30] dylanaraps commented on #54
Found the error message in `libX11`: https://github.com/mirror/libX11/blob/823a0f8a820247b6c1e092f679b49cbdc2ea5c95/src/xcb_io.c#L33-L38

[2019-10-07 07:32] onodera-punpun commented on #54
I'm using glibc, although I do use a source distro, so it could possible be the source of a CFLAG or kernel option I set.

[2019-10-07 15:26] JLErvin commented on #54
@onodera-punpun I've haven't seen this issue elsewhere either. Can you post your `USE` flags (or equivalent) so I can try to recreate the issue on my end?

[2019-10-07 16:11] onodera-punpun commented on #54
Oh wait, I didn't build this package with my package manager, so in fact I just used the default CFLAGS as defined in config.mk...

[2019-10-10 12:30] paoloschi opened #55 "[not a issue] I need clarifications about modal dialog windows and possibilities to define rules"
I could not follow the development of Berry lately but today from VoidLinux I updated to 0.1.3 release and I'm trying to complete my personal configuration of my Berry desktop.
Now I note that the main windows of all applications are the only ones decorated and that they are handled differently from their _child_ windows; the latters do not appear with a `wmctrl -l` for example and on these undeco

[2019-10-10 20:24] JLErvin commented on #54
I added a potential fix. Since I still haven't been able to recreate this on my end could someone try the [development branch](https://github.com/JLErvin/berry/tree/raspberry), raspberry, and see if this fixes the issue? @onodera-punpun

[2019-10-12 12:13] onodera-punpun commented on #54
Sadly didn't fix the issue, exact same error

[2019-10-18 01:35] shippage commented on #54
I'm on debian 10 stable, and also am getting the same error when I run `startx /usr/local/bin/berry`

[2019-10-29 05:02] JLErvin commented on #54
@dylanaraps can you post your global compiler options for `KISS`?

[2019-11-02 14:06] mighty9245 opened #57 "installation from aur fails on arch linux"
installation fails on the last step (installing built package) with the following error:
[code]

i guess this issue could be related to #17

[2019-11-02 22:47] #52 closed

[2019-11-02 22:47] #48 closed

[2019-11-03 11:02] mighty9245 commented on #57
seems to be the aur package issue, not the berry one. could be fixed by editing the pkgbuild and changing prefix from `/usr/local` to `/usr` (as noted on the package page, lol: https://aur.archlinux.org/packages/berry-git/). so if you encounter the same issue, just `git clone https://aur.archlinux.org/berry.git`, edit the pkgbuild and change prefix as described above and `makepkg -si`.

[2019-11-03 11:02] #57 closed

[2019-12-19 19:30] paoloschi commented on #55
I was not aware of the peculiarity of windows with the property `WM_TRANSIENT_FOR`.
Now I understand that it doesn't depend on the WM if the action doesn't apply to these windows but to the one they depend on...
Sorry for the noise.
I close

[2019-12-19 19:30] #55 closed

[2020-01-01 11:33] creio opened #58 "super mous1 focus window, super mous3 resize"

[2020-01-02 05:34] JLErvin commented on #58
Can you provide a description? I'm not sure what you are asking.

[2020-02-03 04:00] Notevill commented on #54
I have the same issue on Void Linux. I install berry from void linux repository. Also i tried build from sources.
in my ~/.xinintrc i add
[code]
so after `startx` i have black screen with xterm but berry not working. If i restart berry from terminal with -d option it says same errors like @onodera-punpun posted.

[2020-02-19 05:19] Notevill commented on #54
I trying to debug this error.
[berry_log.txt](https://github.com/JLErvin/berry/files/4223218/berry_log.txt)

Testing on manjaro, berry builded from source.
At start there is no errors (line 14). But on first event (mouse click or start new application) it crushes (after line 14).

[2020-02-19 06:14] Notevill commented on #54
I think I know how to repeate this.
I add `x` permission to `.config/berry/autostart` and now it working
if I remove `x` permission it's not working with same error

[2020-02-19 06:18] JLErvin commented on #54
@Notevill yes! oh my goodness thank you I've been unable to recreate this for months. For now, make it executable and I'll try to find a more universal fix :)

[2020-02-19 06:36] JLErvin commented on #54
@Notevill can you try using the development branch, `grape`, and see if this works _without_ `autostart` being executable. [branch here](https://github.com/JLErvin/berry/tree/grape)

[2020-02-19 06:36] JLErvin commented on #58
Closing due to inactivity.

[2020-02-19 06:36] #58 closed

[2020-02-19 06:42] Notevill commented on #54
Yes, it's working

[2020-02-19 20:14] #54 closed

[2020-02-21 13:25] FlashDaggerX commented on #57
I know this issue is long-since closed, but this bug was noted by someone on the AUR page. I'm sorry I didn't check issues sooner, but this is fixed upstream as of a few days ago.

[2020-02-21 17:44] JLErvin commented on #57
@FlashDaggerX no worries, thanks for the fix :)

[2020-02-23 08:25] Notevill opened #60 "Is there any way to move windows with super+button1+mouse drag"
I want to manage windows like it's in 2bwm. `super+batton1+mouse drag` for moving windows and `super+batton3+mouse drag` for resizing. And this working by pressing on window itself not only on decorations.
If I right understand `bspwm` has `pointer` command for mouse grabbing. Is there a way to do the same with berry?

[2020-02-23 09:14] Notevill opened #61 "Don't handle file open dialog window"
Open file dialog window not handled by berry.
[code]

This dialog I opened by vscode file->open menu command.

![screenshot_2020_23_02_14_14_00](https://user-images.githubusercontent.com/34532252/75109585-a9853400-5646-11ea-936c-5788763e44d8.png)

This window appears at top left corner and shown at all workspaces.

[2020-02-24 21:55] JLErvin commented on #60
This isn't implemented right now, but this is something that I can add.

[2020-02-24 21:59] JLErvin commented on #61
hm yes.

`herbstluftwm` implements a feature where users can decide which windows are handled by the window manager and which ones are not. `berry` currently has these fixed, which I suppose is not very flexible. I'll try working on a feature to make this behavior toggleable.

[2020-02-25 03:32] Notevill commented on #60
I will waiting this feature.

[2020-02-26 17:13] Notevill commented on #2
always on top mode

[2020-02-27 09:13] Notevill commented on #61
Can you make dialog and menu windows handled by berry for now? Just for quick fix?
There is also problem with virtualbox settings window.

[2020-02-27 09:43] Notevill commented on #61
[code]

This works for me as temporary solution

[2020-03-08 13:15] camillelab opened #63 "numerations of workspaces"
Thank you for this simple and beautiful window manager! I have a problem when I send a window to another workspace.

`send_to_workspace 2` sends the current window to workspace 1
`send_to_workspace 1` sends the current window to workspace 0
and i am not sure what `send_to_workspace 0` does.

[2020-03-08 20:28] JLErvin commented on #63
Ah, this is an old OBOB that I never really cleaned up. Try pulling the latest master and updating your `sxhkdrc` to the one in the examples folder.

2900d41c3bf920019fe1231a432935992bf52a50

[2020-03-08 20:38] JLErvin commented on #61
I added a `manage`/`unmanage` feature as of 4acf24760ea7fc9bbd05cb7c6fb0afcc7d28c868. Closing.

[2020-03-08 20:38] #61 closed

[2020-03-08 20:49] #63 closed

[2020-03-09 17:45] lucat1 commented on #60
I'd love this feature too! Isn't this possible with a tool such as `sxhkd`?

[2020-03-09 20:00] JLErvin commented on #60
@lucat1 As far as I know, no. Motion events that spawn processes disabled in `sxhkd` after `0.5.5` https://github.com/baskerville/sxhkd/commit/07595089fee6aac5953af8acb2f2e98682fa03d5. `berry` handles motion events internally as a result, so this is something I would have to implement on the backend. Finals are done next week and I should have some time to implement this.

[2020-03-10 06:40] JLErvin commented on #39
Better late than never, implemented as of 86f5ab20187ffc4d7d5639da2e281c0d33492f10

[2020-03-10 06:40] #39 closed

[2020-03-10 12:12] camillelab commented on #2
When a window is in fullscreen, I sometimes move the window by mistake with the mouse. I would like to lock a window in fullscreen.

[2020-03-10 14:18] JLErvin commented on #2
@camillelab turn on `edge_lock`?

[2020-03-10 14:25] camillelab commented on #2
Thanks!

[2020-03-10 16:22] Notevill commented on #2
Add hooks on open and close window events, so we can create rules for different apps on it.
For example I want my browser always opens on monocle mode without decorations at workspace 3, or messanger app opens at workspace 9 and snapped to right.

p.s. Sorry for my english

[2020-03-10 19:24] linkert opened #68 "Deprecate 'top_gap' for something like 'edge_gap'"
As discussed on [reddit](https://www.reddit.com/r/unixporn/comments/fg9l3b/berry_classes_canceled_time_to_rice/) I did not find a bottom_gap. Something more general like ```edge_gap``` would be neat.

```edge_gap top right bottom left``` - eg: ```edge_gap 0 0 24 0``` for a 24px bottom gap

However you choose to implement this feature it will be great!

[2020-03-12 01:19] aeosynth commented on #2
:+1: for allowing decorations to be disabled by default.

Request: allow programs to manage their fullscreen state, eg pressing F11 in Firefox makes it think it's fullscreen, but it doesn't change size.

[2020-03-12 01:30] JLErvin commented on #2
@aeosynth

Default decoration behavior is very easy to implement, I can do that in the latest release.

With regards to fullscreen behavior, perhaps I have been a bit too opinionated. Personally, I want to be able to "trick" programs into behaving like they are fullscreen while keeping their size fixed. For example, having firefox fill the screen with a youtube video while remaining small is a nic

[2020-03-12 06:46] JLErvin commented on #68
This wound up being significanly more work than I was expecting - my geometry was not as well factored as I would have liked. Regardless, the development branch now has an `edge_gap` function.

Usage is as follows:

`edge_gap top bottom left right`

I'm opening to switching the order of those arguments if something is more standardized.

Feel free to try it [here](https://github.com/JLErvin/berry/

[2020-03-12 15:49] Rahumba opened #71 "Umlauts in title"
![2020-03-12-164100_1184x98_scrot](https://user-images.githubusercontent.com/62110283/76539638-4fc39d00-6481-11ea-9c20-3d448488900d.png)

The title displayed in the titlebar seems to cut off at umlauts.

[2020-03-12 18:19] JLErvin commented on #71
What a curious bug. I was able to replicate on my end so I'll look into it.

[2020-03-13 01:25] aeosynth opened #72 "closing child window does not always focus parent"
The most recently opened window is focused when a window closes, instead of the parent / spawner of the closed window.

example: open two terminals, use each to open an image. the newest terminal is always focused after the image closes, instead of the terminal that spawned the image.

[2020-03-13 21:15] JLErvin commented on #72
`berry` is a non-reparenting window manager, similar to `katriawm`. It's unclear to me whether or not this is feasible to implement, although I can look into it.

[2020-03-14 18:43] vaskark opened #73 "Best compositor settings (picom)"
Hi. Berry was freezing when I was using picom's `glx` backend so I've switched to `xrender` and it hasn't crashed once. Although now I'm getting weird artifacts surrounding unfocused windows. So I was just wondering what others are using in their picom configs.

Here's [mine](https://justpaste.it/7k6e4).

Also, transparency only works on terminal windows when titlebars on toggled off. When on, the

[2020-03-15 06:20] JLErvin commented on #72
So, I have developed an imperfect but reasonable solution on the development branch. Until now, `berry` has default to focusing the _next_ window in the focus list whenever a client is closed. However, if we instead focus the _previous_ window, we achieve this behavior about 99% of the time. I see this situation being most common when you do some action in an application that spawns another window

[2020-03-15 14:36] camillelab commented on #2
**Rofi** has a Windows mode which allows to select a window and apply a custom command with `Shift+Return`. By default, the command is `wmctrl -i -R {window}` in the config file, where `{window}` is the numeric identity of the selected window.

I would like to pass a command to **berryc** directly. However, **berryc** only targets the currently active window. Would it be possible to target a windo

[2020-03-16 12:54] r0b0tx opened #74 "X Error of failed request"
berry: font not specified, loading default font
berry: Successfully opened display
berry: Giving focus to dummy window
Fatal request. request code=2, error code=10
X Error of failed request:  BadAccess (attempt to access private resource denied)
  Major opcode of failed request:  2 (X_ChangeWindowAttributes)
  Serial number of failed request:  32
  Current serial number in output stream:  38

Manu

[2020-03-17 02:01] vaskark commented on #73
Update: turns out I had `--experimental-backends` set. I removed that and the artifacts are gone now.

[2020-03-17 02:01] #73 closed

[2020-03-18 21:07] AdamChristiansen opened #75 "Shadows over top of window decorations"
**Problem**

When using a compositor (compton in my case) with shadows enabled, both the window and the window decorations have shadows, and the window shadow is on top of the decorations. This is shown in the screenshot below.

![berry-shadow](https://user-images.githubusercontent.com/8989961/77007350-aae60b80-6929-11ea-983b-3c916e917ed9.png)

**Expected Behaviour**

I expect something like the s

[2020-03-18 22:16] JLErvin commented on #75
Let me see what mechanism compton uses to draw shadows. It's possible this is a product (I would guess) of the fact that berry is non-reparenting in which case this might be difficult to fix. Regardless, I'll look into it a get back to you.

[2020-03-18 22:26] JLErvin commented on #75
Ah, this should be fixable using some compton settings. Consider adding the following to your `compton.conf`:

[code]

Try this and let me know if it gives you expected behavior.

[2020-03-18 22:27] JLErvin commented on #74
Can you post your `.xinitrc`

[2020-03-18 22:48] AdamChristiansen commented on #75
This solved it. For documentation purposes if someone else is comes across this, I had

[code]

in my `compton.conf`, but changing it to

[code]

to use EWMH as well is more general than just GTK.

[2020-03-18 22:48] #75 closed

[2020-03-19 11:21] r0b0tx commented on #74
Just copied yours from your dotfiles adapt it and now it works.

[2020-03-19 19:11] JLErvin commented on #74
Can you post what you had originally. I would like to be able to know what caused this.

[2020-03-22 03:39] #74 closed

[2020-03-22 03:40] #18 closed

[2020-03-22 06:09] JLErvin commented on #72
Merged with master as of `0.1.5`. Closing :)

[2020-03-22 06:09] #72 closed

[2020-03-22 06:09] JLErvin commented on #68
Merged with master as of `0.1.5` :)

[2020-03-22 06:09] #68 closed

[2020-04-10 04:43] Notevill opened #76 "How work window raise command"
If I call `berryc window raise` nothing happens.
If it must raise window on the top, then it's not any sense, because focused window already on the top.

[2020-04-23 08:45] little-nem opened #77 "Window getting unregistered from _NET_CLIENT_LIST when moved to another workspace"
It seems to me that when a window is moved toward another workspace, it is temporarily unregistered from the xserver property descriptor.

#### Environment:
- `Xor- 7.6`
- `libX11-1.6.9`
- `berry-0.1.5` (packaged by Void Linux)

#### Step to reproduce and observe:
- Open a terminal on, say, workspace `0` and make sure it is listed in `xprop -root _NET_CLIENT_LIST`
[code]
- Move it to another works

[2020-04-23 23:21] JLErvin commented on #77
Thanks for the excellent write up - I was able to fix this within minutes. Should be functional as of https://github.com/JLErvin/berry/pull/78/commits/5ab590cea3bcb7282108ee837e131d514389747c

[2020-04-24 09:28] little-nem commented on #77
Yup it is! Thank you for such a quick fix! :smiley:

[2020-04-24 09:28] #77 closed

[2020-04-26 10:41] mintyleaf commented on #60
like a workaround i maked this script
[code]
that comes in sxhkd like this
[code]

[2020-04-26 17:36] bcd0101 commented on #60
@mintyleaf very useful your script. Thanks for sharing.

Would be awesome if we have a way to resize window using another script like that.

[2020-04-26 21:40] mintyleaf commented on #60
i think this thing can be achivied through window_resize_absolute and some calculactions between window pos from xdotool with bc

[2020-04-26 21:44] mintyleaf opened #79 "way to handle fullscreen"
i know from jlervin website that he plays nice counter strike)
so today i decided to install cs and try to play on new laptop with berry as wm
and one thing is freaks me out: when in game i going to any kind of menu - window automaticly goes to maximized state from fullscreen
if jlervin plays cs under own berry wm - how he handle this situation?)
maybe some tips?

also, it would be very nice to ha

[2020-04-26 21:49] JLErvin commented on #79
I don't play games on my linux machine, but this is something I should probably support. Fullscreen behavior is a mess right now, so I'll install steam when I get a few minutes and see what the behavior is like.

[2020-04-27 05:58] Notevill commented on #60
Make this script for resize

[code]

In sxhkdrc:
for start resizing

[code]

for stop resizing

[code]

This allow me resize window while I hold and drug button3.
And same I do for moving window.

[2020-04-27 08:35] mintyleaf commented on #60
@Notevill
there is little typo that can confuse someone (me too))
for stop resizing:
[code]

[2020-04-27 09:10] mintyleaf commented on #60
i rewrote theese scripts for more intuitive and "draggable" behaviour
it's using not absolute moving/resizing, that which allow to respect global gaps
also it prevents the jumping to the mouse pos, using relative positioning

sxhkd
[code]

brymove.sh
[code]

brysize,sh
[code]

[2020-04-28 09:00] Notevill commented on #60
@mintyleaf  You add this lines too, so it's not typo?

[code]
I also have bug when moving or resizing didn't stops after I release buttons.

[2020-04-28 12:21] mintyleaf commented on #60
yup
this is not a typo, sorry)
for proper working script needs to be stopped after super + button release and simple button release too

[2020-04-28 12:47] Notevill commented on #60
No I have this bug with `@button1` too. I think it's sxhkd issue, because multiple button1 click with or without super not stops window moving.

[2020-04-28 13:04] bcd0101 commented on #60
@Notevill I'm using the scripts without the described bug and without calling additional stop after release super + button1 or button 2

[2020-04-28 16:24] mintyleaf commented on #60
hey, seems like i'm faced sxhkd bug too
when config has @button3 event all working fine for script, but in any other windows rmb didn't captured at all)
but @button1 event didn't affect for other windows like b3

so, now my sxhkdrc looks like this (i replaced two b1 events with any + @b1):
[code]

[2020-04-29 00:02] bcd0101 commented on #2
Would be usefull if some features like the hability to play videos on full screen would implemented on the code of actual version.

[https://github.com/JLErvin/berry/issues/39](url)

So, I think that some interesting modifications just exit as suggestion and no all people can see it.

[2020-04-29 00:19] bcd0101 opened #80 "Is there any way to launch specific programs without decorations?"
This is because I'm using **st** with **berry** and **picom** and I can't get opacity with decorations enabled.

[2020-04-29 00:46] TheM4ze commented on #60
I put both scripts in my ~/.bin then gave permission and chmod +x both of them.
Copied this into sxhkd [ ofc changed to my path, ~/.bin/bla bla bla/brymove.sh ]

     ~/.scripts/brymove.sh
  any + @button1
     ~/.scripts/brymove.sh stop
  super + button3
    ~/.scripts/brysize.sh
 super + @button3
    ~/.scripts/brysize.sh stop <

Restart berry and sxhkd but mine acts weird.

Instead of resizing

[2020-04-29 00:55] TheM4ze opened #81 "Can we implement to focus on a window by hovering with the mouse over it?"
Is it possible to implement something like bspwm has that you can automatically focus on that window when you move the mouse on it?
Now we have to either write scripts,use sxhkd keybindings or press ~button1 to get it in focus.

I tried adding a thing or two in [ wm.c ] file,but couldn’t find anything that doesn’t mess up something else after recompiling. Maybe something so we can enable/disable i

[2020-04-29 01:02] TheM4ze commented on #81
This is what I tried so far in the [ wm.c ] file

Line 1703

**client_set_input**

I added

**XRaiseWindow(display, c ->window);**

Tried removing the other one and adding that,adding both together but nothing worked so far.

[2020-04-29 05:19] Notevill commented on #60
Are we still waiting for a native solution from berry?

[2020-04-29 05:45] JLErvin commented on #81
Yes this is possible. I'll need to add a function that listens to `MotionNotify` events. This is fairly common so I'm happy to implement it.

[2020-04-29 21:05] mintyleaf commented on #60
ofc, cause using scripts like this for "drag'n'droppy" behaviour is cpu heavy and sxhkd is very buggy with mouse button events

[2020-04-29 21:07] JLErvin commented on #60
I'm currently working on native move/resize support with mod keys. Development overall has been pretty slow given the pandemic - but I am working on it. I'll keep you updated but hopefully it should be done in a few days.

[2020-04-30 02:51] TheM4ze commented on #60
Yep sxhkd is buggy with mouse buttons. Today I've tried using the 2 scripts but couldn't get it to work at all. Guess I'll have to wait :(

[2020-04-30 02:53] JLErvin commented on #60
Hang in there - it's coming soon :)

[2020-04-30 02:56] TheM4ze commented on #60
No worries I can live a bit longer without it (notice A BIT longer) :P

[2020-04-30 02:57] bcd0101 commented on #80
Or I'm making a stupid question?

[2020-04-30 03:35] JLErvin commented on #80
There are no stupid questions here.
So, first off I've been playing around with deocration refactoring that would allow this. Sadly `berry`'s implementation of double borders + title bars make this difficult - although it is something I am working on.
In the meantime, a pure _unix_ approach might be to use something like [ruler](https://github.com/tudurom/ruler) which executes a set of commands wh

[2020-05-03 19:02] bcd0101 commented on #80
I've testing ruler with berry, but unfortunately it's not working as I expected. Of course ruler allow me to run a command after certain type of window appears in to the system.

Is executed after open st turning off decorations for all new windows.

[2020-05-03 19:15] bcd0101 commented on #80
@JLErvin

This issue it's not too big for me, so if you say that you are working with decoration refactoring I only have to be thankful.

I'll waiting for updates.

[2020-05-03 21:04] JLErvin commented on #60
Native move/resizing support is now available on the development branch, `huckleberry`. You can preview/use it [here](https://github.com/JLErvin/berry/tree/huckleberry).

From a user perspective, moving windows defaults to `Mod4` (Usually Windows keys) and resizing windows defaults to `Mod1` (Usually Alt). You can change this using the `berryc` commands `move_mask` and `resize_mask`, respectively.

[2020-05-04 02:30] TheM4ze commented on #60
Was just playing around and had absolutely no issues!

super + ~button1 to move
alt + ~button1 to resize

[2020-05-04 18:12] mintyleaf opened #83 "multiple multihead issues"
- **edge lock**
using edge lock with >1 monitor just didn't allow you to use any other monitor when moving windows.
- **toggling maximize/fullscreen**
same here. u can't maximize/fullscreen the window in any other monitor. (also it would be very nice to add feature to toggle decorations of current window for fullscreen toggling usage c: )

It seems to me that the manager should perform window acti

[2020-05-04 22:46] Harjuu commented on #60
I found the resizing to be pretty slow compared to other WMs. When resizing too fast I get a very noticable freeze that I don't get with for example spectrwm or sowm.

Other than that, fantastic!

[2020-05-05 03:04] TheM4ze commented on #60
Hmmmm just tried out both shrinking and increasing size and both work flawlessly for me. Couldn't notice any difference compared to other wm's.regarding speed or really anything.

[2020-05-05 03:33] JLErvin commented on #60
@Harjuu are you using a compositor?

[2020-05-05 07:23] Notevill commented on #60
There is no way to specify `super+button1` to move and `super+button3` to resize, only `<mod>+button1`, isn't it?

[2020-05-05 07:25] JLErvin commented on #60
Right now, no. But this can be easily implemented.

[2020-05-05 07:32] Notevill commented on #60
@Harjuu, did you mean freezes like this?
![screencast](https://user-images.githubusercontent.com/34532252/81043735-47f60700-8ecc-11ea-9c44-923d19efd696.gif)

[2020-05-05 08:23] Harjuu commented on #60
Hmm strange. @JLErvin yes I'm using picom, but the only difference when I kill picom and try is that I get massive screen tearing instead from the window not keeping up.

I don't think it's my pc as I'm not having any problems with this on any other wm, with or without compositor, and I don't have a slow pc by any means.

@Notevill I think that comes very close, difference being I'm not using any

[2020-05-05 08:30] Notevill commented on #60
It's not working when NumLock on.

[2020-05-05 09:40] Harjuu commented on #60
![2020-05-05-11-34-32](https://user-images.githubusercontent.com/16627772/81053098-dc5c6b80-8ec4-11ea-9dc4-883f336bee14.gif)

First few times is with picom, I then kill it and try to resize and the window actually crashes after I resize it two times. Never saw that before. Also noticed that on the video it actually looks the same with/without picom, but on my screen the window slowly catches up to

[2020-05-07 00:48] JLErvin commented on #60
@Harjuu can you try on the lastest version of the development branch and see if it's any different?

[2020-05-07 12:31] Harjuu commented on #60
No difference unfortunately.

![2020-05-07-14-26-27](https://user-images.githubusercontent.com/16627772/81294536-56305880-906f-11ea-8fa7-273f2f1a31a0.gif)

Let me know if you think there could be something on my end affecting this

[2020-05-11 09:24] ATVVA opened #84 "mpv does not go into full screen mode"
When press the "f" key, the video does not go into full screen mode. Also, if run mpv with the _--fs_ option, the video is not full screen.
[code]

[2020-05-14 22:57] LorenDB opened #85 "Inaccurate installation guide at berrywm.org"
The guide at berrywm.org should say to install sxhkd, and it should replace the line ```cp examples/sxhkdrc $HOME/.config/berry/sxhkdrc``` with ```cp examples/sxhkdrc $HOME/.config/sxhkd/sxhkdrc```. It took me a while to figure this out on my own.

[2020-05-14 23:02] JLErvin commented on #85
I don't know if I would agree that this is incorrect, but I do believe it could use a clarification. If you use `sxhkd` with multiple programs, say `bspwm`, it makes sense to have multiple `sxhkd` configurations for each window manager with their respective commands. Logically, this should be stored in the `berry` config directory and you would specify upon startup which config file you read from.

[2020-05-14 23:05] LorenDB commented on #85
That makes sense. I just noticed that once I installed sxhkd, it wanted the config file from ~/.config/sxhkd.

[2020-05-28 05:13] AdamChristiansen opened #86 "Fullscreen should not respect edge_gap"
Using `berryc fullscreen` causes the window to fill the area defined by `edge_gap`, not the entire screen. This makes the behaviour of `berryc fullscreen` the same as `berryc window_monocle`.

For example,

[code]

leaves a 100 pixel gap at the top. This happens for gaps on the left, right, and bottom as well. The only way to achieve the desired behaviour of filling the entire screen is to have `e

[2020-06-08 14:17] darcybgoode commented on #71
Hi.
Cyrillic letters also aren't displayed in titlebars.

[2020-06-14 10:01] wiktornowicki opened #87 "blank screen with cursor"
i've got a blank screen with the cursor, and according to the log file there are issues with the "~/.config/berry/autostart", which simply put, refers to a nonexistent solution. exact error message below:

[code]

what can i do about this?

[2020-06-15 22:30] JLErvin commented on #87
I need a tad more information. Can you tell me:
* What system are you running on (what distro)
* The contents of your `.xinitrc` (or however you are starting berry)

[2020-06-17 08:32] wiktornowicki commented on #87
using Zorin OS (Ubuntu 18.04-based with library/driver modifications), previously LMDE 4 Debbie (Debian 10-based). as for xinitrc, it seems that the file doesn't exist.

[2020-06-17 08:33] wiktornowicki commented on #87
the thing is that even when i did
[code]
with a log, it would return that exact error message, and it only.

[2020-06-17 16:59] wiktornowicki commented on #87
specific distro info:
* uname:
[code]
* /etc/os-release:
[code]

[2020-06-17 17:36] wiktornowicki commented on #87
the closest thing to the "xinitrc" file i could find was the GDM config file:
[code]

[2020-06-17 23:23] JLErvin commented on #87
well it doesn't look like you're starting `berry` correctly.

If you're using a display manager (i.e. GDM), then you should create a desktop entry for `berry`. An example is included in the documentation [here](https://berrywm.org/installation.html#start-berry-using-a-display-manager). You might have to change this slightly to work with GDM.

If you don't want to use a display manager and instead

[2020-06-18 05:40] wiktornowicki commented on #87
i have the desktop entry though, copy-pasted from the official page.

[2020-06-20 23:12] TaylanTatli opened #88 "No _NET_MOVERESIZE_WINDOW"
`WM doesn't support _NET_MOVERESIZE_WINDOW. Gravity will be ignored.`

I use wmctrl with slop to quickly move and resize windows but berry doesn't support `_NET_MOVERESIZE_WINDOW`.

[2020-07-01 22:58] tmrod commented on #81
What's the status on this issue? I'd like this feature as well, and would be happy to implement it myself (with some guidance), or perhaps I could write some documentation if it has already been implemented.

[2020-07-10 00:50] ghifarit53 opened #89 "xterm overlap its window decoration"
First of all, thanks for the amazing and fully customizable wm, i love the modular nature of it

Second, unfortunately i have an issue with xterm. Its window overlap its decoration, as you can see below
![2020-07-10_07 37 33](https://user-images.githubusercontent.com/59758342/87103870-6ee00900-c280-11ea-8eac-f0b25e34c919.png)

And here's a screenshot of urxvt, chrome, and thunar, all of it looks n

[2020-07-10 02:56] ghifarit53 commented on #89
sorry my bad, i don't think that this is a problem with berry, but xterm itself

[2020-07-11 00:43] JLErvin commented on #89
hm, I was able to recreate this on my end. Let me see if I can come up with a fix - `berry` related or not.

[2020-07-11 01:03] JLErvin commented on #89
Ok, I added a fix on the development branch, `hucklberry`. You can clone/use this branch for a temporary fix. I'll update and close this issues once it's merged into master.

[development branch here](https://github.com/JLErvin/berry/tree/huckleberry)

[2020-07-11 02:06] ghifarit53 commented on #89
It works! thank you so much

![2020-07-11_09 05 05](https://user-images.githubusercontent.com/59758342/87214338-b1274a00-c355-11ea-9afe-699515de82f6.png)

[2020-07-11 02:08] ghifarit53 commented on #89
Sorry i accidentally pressed close

[2020-07-11 07:04] JLErvin commented on #84
I was able to recreate this on my end. Will get back to you shortly.

[2020-07-12 01:21] JLErvin commented on #84
Added to the development branch as of 7c2507c9a5fc5e82dde2edfc7cc670118d14fed9. You can try pulling/cloning from there and see if it resolves your issue. I'll close this issue once this is merged into master.

[2020-07-12 01:29] ghifarit53 opened #90 "X crashes when trying to stick chrome tab to from different window into one"
I don't know if the same behaviour will happen when using another browser, but here's the step to reproduce

1. Open chrome, make two new tabs
2. Deattach one of the tabs so it'll become a separated window
3. Drag the tab in the separated chrome window into the first, and suddenly x will crashes

Oh, there's also some screen tearing when dragging the chrome window by clicking on its tab (should i

[2020-07-12 01:54] ghifarit53 commented on #90
Have tested, It's also occured on the main branch

[2020-07-12 03:00] ghifarit53 commented on #90
Again, i don't really know it's berry related or not, i also suspect chrome for it's ui redrawing mechanism

[2020-07-12 20:39] JLErvin commented on #90
Are you using a compositor?

[2020-07-12 21:49] ghifarit53 commented on #90
no, just plain berry

[2020-07-12 22:11] ghifarit53 commented on #90
hey, it's not crashing again with the latest branch,  i'm gonna close this, thanks for the effort you put into it

[2020-07-12 22:11] #90 closed

[2020-07-19 09:07] vaskark opened #91 "Resize Mask (in huckleberry)"
In config.h (huckleberry) the resize mask is defined as:

`#define RESIZE_MASK Mod1Mask
`

where Mod1Mask is the ALT key.

This conflicts with gui file managers like nemo and nautilus which use ALT for dragging & dropping files/folders with a context menu (move, copy, link).

Just thought I'd point this out. I changed mine to `Mod4Mask|ShiftMask` as a workaround.

Thanks for adding the move/resize

[2020-07-21 08:10] aa1chemist opened #92 "Missing Some features."
I love this project. I know that it is in very alpha stage but its missing some things :-
1.Rules :- I like the paradigm of berrywm that how it works but rules are missing like if I use plank dock it just get hidden beneath the windows and in bspwm i faced same issue which can be fixed by rules.
2.Window Resizing :- I know that project is mainly focused for keyboard users but it would be great to

[2020-07-26 22:53] JLErvin commented on #92
Thanks for the issue. A few thoughts:
1. This would be a pretty substantial addition, but something that I would be willing to add. Other users have expressed interested in a rules based approach. Originally I had redirected people to [ruler](https://github.com/tudurom/ruler), but this is insufficient for managing things like drawing docs/system bars. I have some other issues to resolve, but I wil

[2020-08-05 04:10] ghifarit53 opened #93 "berry crashes when entering zoom meeting using desktop client"
Steps to reproduce
1. Join a zoom meeting using zoom linux client
2. Enter the room
3. Here, berry will crash. After restart itself, all the window before the crash become unreachable

I compiled berry from the `huckleberry` branch

my `.xinitrc`

[code]

my berry autostart script

[code]

[2020-08-08 22:35] JLErvin commented on #93
I'm not able to recreate this on my end. What is the output of `berry -v`?

[2020-08-10 06:43] ghifarit53 commented on #93
This
[code]
I'm planning on making a screencast, is that gonna help?

[2020-08-17 02:25] JLErvin commented on #93
Sure, why not.

[2020-09-05 12:31] Joe23232 opened #94 "Questions regarding this project"
I am thinking of using `berry` but I have questions regarding this tiling window manager.

1. Does it use XCB or Xlib?
2. Am I able to do round corners around the Window? For example like this:
![image](https://user-images.githubusercontent.com/34926497/92305069-f4eda700-efc6-11ea-8489-cc9bfe1823de.png)
3. Am I able to add window decorations, for example maximise, minimise and close, example:
![im

[2020-09-11 07:24] Akito98 commented on #94
Hi,

I'm not the developer, and I only discovered this WM myself a few days ago, but I think I can answer some of your questions.

First of all, `berry` is not a tiling WM. It is a classic stacking window manager.
Also the dev doesn't plan to implement a tiling mode directly, instead you can write a script for this yourself. See 4. of issue #92

Now to your questions:

1. According to [the website

[2020-09-11 07:36] Joe23232 commented on #94
Thanks man :)

[2020-09-11 16:38] JLErvin commented on #94
thanks to @Akito98 for their answer - yes there are all good responses (sorry for the delayed response).

[2020-09-19 20:49] royaleconqueso opened #95 "berry windows don't respect rofi -show window"
```rofi -show window``` doesn't seem to cycle through windows. I've mapped it to a keybinding, and I've run it straight from the cli, and in both cases, it doesn't raise or refocus a second window. I've tried it on elementary OS and Gallium OS (both of which are, I guess, Ubuntu). And on both machines, rofi works as expected in windowmaker, evilwm, and openbox.

Can someone duplicate this? I don't

[2020-09-19 22:24] JLErvin commented on #95
I was able to replicate this on my end - I'll get back to you shortly (hopefully)

[2020-09-21 05:59] JLErvin commented on #95
Ok, this should be added on the [development branch](https://github.com/JLErvin/berry/tree/huckleberry) as of a342ba2f1795c1dec23ec37daf996da0305724a6. I would like to do some more testing, as I think I might have broke window resizing with certain applications... but I'll look into that. in the meantime, you can try building from that branch and enjoy your proper rofi behavior :)

[2020-09-21 21:42] royaleconqueso commented on #95
Awesome. Thanks. I can confirm that it does break window resizing using alt-button 1 for xfce4-terminal and firefox and whatever else I throw at it, but only with the number lock key on? That seems a strange bug. Meanwhile, thanks for fixing rofi, which I use more than numberlock!

[2020-09-27 12:09] phuctv95 opened #96 "Set draw_text to false but the title still appears"
Hi @JLErvin, I'm using **berry** window manager and I like it. Recently I've faced an issue, I set draw_text to false but the title still appears, like following:
![image](https://user-images.githubusercontent.com/20752858/94364595-bdb97400-00f4-11eb-874d-cb1129e4cd48.png)

Could you please take a look on this? Thank you.

I'm using:
- Berry on branch master (3872a74)
- ArchLinux

[2020-09-29 22:04] TheFineBroccoli opened #97 "[not a issue] How to change the font?"
I noticed that the font can be changed in `config.h`, but how do I get the right "format" of the font name? I want to use IBM PLex Mono, do I just change

[code]

to:

[code]

Or is there more to it? Because this doesn't look like the standard xft "format".

[2020-09-29 22:32] JLErvin commented on #97
This is (semi) documented in the site docs [here](https://berrywm.org/configuration.html). You can use the `set_font` command via `berryc` to set your font. For example, to use the dina font with size 9 I would use:
[code]
In terms of the actual formatting of the string, it uses the xft format which is documented in [this document](https://keithp.com/~keithp/render/Xft.tutorial). Pretty user frien

[2020-09-29 22:54] JLErvin commented on #96
This is fixed on the development branch, [huckleberry](https://github.com/JLErvin/berry/tree/huckleberry). I'll close this when it's merged with master.

[2020-09-29 23:04] TheFineBroccoli commented on #97
Thanks for the response! I was used to this format `IBM Plex Mono:size=10` from urxvt and herbe, thanks for clarifying that. I probably won't use the titles anyway but we will see

[2020-09-29 23:04] #97 closed

[2020-09-30 00:16] TheFineBroccoli opened #98 "First window on first workspace is closed after swithcing to another workspace"
This is problem is a bit odd. I will try to explain as best as I can.

When I open any window on the first workspace after fresh Xorg startup it gets closed after I move to any other workspace.

But If I switch to workspace 2 (or any other) and open window there, this bug does not occure.

---

And I have minor suggestion: `cycle_focus` should raise the newly focused window. I personally solved th

[2020-09-30 06:00] JLErvin commented on #98
can you post your `autostart`?

[2020-09-30 11:39] TheFineBroccoli commented on #98
Here you go:

[code]
Note: It doesn't matter if I start `sxhkd` from the `autostart` or `.xinitrc` this bug happens regardless of that

[2020-09-30 17:00] JLErvin commented on #98
Oh, can you also post your `sxhkdrc` (I should have asked for this originally)

[2020-09-30 19:29] TheFineBroccoli commented on #98
Don't worry about it. Sorry for the late reply

[code]

[2020-09-30 19:51] JLErvin commented on #98
Give this a try (this change has since been added to master).

Instead of
[code]
use
[code]
My guess is that `berry` is spawning you on workspace 0, and you have workspace 0 mixed up with workspace 1. When I press super + 1, I'm assuming this is the "first" workspace or the "left-most" workspace (i.e. workspace 0). But in reality you're switching to workspace 1 (that is what your `sxhkd` says at l

[2020-09-30 21:04] TheFineBroccoli commented on #98
That was it! I was looking at the examples, idk how I didn't see this

[2020-09-30 21:04] #98 closed

[2020-10-17 10:16] iBoai opened #99 "Focus window when window contents are clicked"
Whenever I want to switch focus to a window, it gets annoying to have to click on the titlebar to switch focus to that window. While I can use sxhkd for keybinds, I'm used to the openbox/mutter/xfwm4 way of switching focus and I don't find switching focus using hotkeys very convenient.

[2020-10-17 23:24] JLErvin commented on #99
What version of `berry` are you using? This should be the default behavior.

[2020-10-18 13:33] iBoai commented on #99
Running `berry -v`: `berry 0.1.5`

My `~/.config/berry/autostart`: [pastebin link](https://pastebin.com/KA6BpCnW)

[2020-10-18 19:19] JLErvin commented on #99
Can you post your `sxhkdrc` as well? Or whatever keyboard daemon you are using.

[2020-10-19 01:39] JLErvin commented on #99
As a guess as to why this isn't happening, you'll need the line:
[code]
in your `sxhkdrc` in order to have `berry` focus windows when clicked on non-decorations.

[2020-10-23 00:42] royaleconqueso commented on #99
I thought this question was going to be about sloppy focus (or mouse follows focus). But now that I see that it's not, can I co-opt this thread a bit? It would be nice to have an option for sloppy focus.

[2020-10-25 01:55] JLErvin commented on #89
Released as of version 0.1.6. Closing.

[2020-10-25 01:55] #89 closed

[2020-10-25 01:56] JLErvin commented on #95
Released as of 0.1.6. Window resizing problems should be fixed as well. Closing.

[2020-10-25 01:56] JLErvin commented on #96
Released as of 0.1.6. Closing.

[2020-10-25 01:56] #96 closed

[2020-10-25 01:57] JLErvin commented on #99
Closing as I believe this has been resolved, even though there hasn't been a response. Sloppy focus is already a requested feature in another issue and is being worked on.

[2020-10-25 01:57] #99 closed

[2020-10-25 01:57] #95 closed

[2020-10-25 01:57] #94 closed

[2020-10-25 01:58] #92 closed

[2020-10-25 01:59] JLErvin commented on #91
I don't have a perfect work around for this, and since this is a user changeable value I'm going to leave this to users to fix if they have conflicts with other applications. Closing.

[2020-10-25 01:59] #91 closed

[2020-10-25 01:59] JLErvin commented on #87
Closing due to inactivity. Please open a new issue if you still have questions.

[2020-10-25 01:59] #87 closed

[2020-10-25 02:01] #85 closed

[2020-10-25 02:01] JLErvin commented on #84
Added as of 0.1.6. Closing.

[2020-10-25 02:01] #84 closed

[2020-10-25 02:01] JLErvin commented on #79
Fullscreen behavior should be more predictable as of 0.1.6. Closing.

[2020-10-25 02:01] #79 closed

[2020-10-25 02:02] JLErvin commented on #76
Yeah, this is a pretty useless command at this point. I will consider adding a command that takes a window id as an argument. Closing for now.

[2020-10-25 02:02] #76 closed

[2020-10-25 02:05] JLErvin commented on #60
Well, it took me forever, but the input lag resizing is finally fixed. If you are experiencing input lag while resizing, try the following:
[code]
This sets a minimum amount of time between two pointer motion events, which prevents events from accumulating faster than we can resize windows.

Moving and resizing windows using super+button+drag is included as of 0.1.6.

See the man pages for appropr

[2020-10-25 02:05] #60 closed

[2020-10-25 02:06] JLErvin commented on #12
Closing due to inactivity. Please open a new issue if this is still a problem.

[2020-10-25 02:06] #12 closed

[2020-10-25 03:38] Opaaaaa opened #101 "how can i close berrywm?"
I don't know how to close berrywm, i don't find nothing or what command i need to put to close berry, please help

[2020-10-25 03:40] JLErvin commented on #101
`berryc quit` ?

[2020-10-25 21:24] #101 closed

[2020-10-25 22:51] smartmic opened #102 "Configuration of dual monitor setup for best usability?"
I really like berry but I am struggling with its usability on my dual monitor setup.  I understand I can assign each workspace to either one of my two monitors.  That works, but how can I keep the windows on both monitors visible after switching workspaces?

Eg. I have open windows in workspaces 0|1 on my monitors 0|1. Works fine.
Now I switch to workspace 2 where I want to have also open windows

[2020-10-26 16:42] JLErvin commented on #102
thanks for the detailed writeup. I'm looking into this...

[2020-10-29 05:32] JLErvin commented on #102
Ok, I've found and addressed a number of issues, but I would like to test this some more before making another release. Originally, when I had added multi-monitor support, I had tested this behavior. But it seems between patches and my lack of multiple monitors for proper testing, proper functionality was lost.

The first issue involves workspace switching which hides clients on a workspace but sh

[2020-10-29 21:23] smartmic commented on #102
@JLErvin thanks for the quick fixes on this issue, I'll give my best to support you on testing.  Here are my comments/findings so far:

✔ Confirmed (using … *not hide the contents of workspace 1* though). I can now see content in workspace combinations 1|2, 1|4, 3|2, 3|4 on both monitors (1,3 - left monitor, 2,4 - right monitor) - as expected.

✘ Not yet 100% working for me, there is still one une

[2020-10-30 05:50] JLErvin commented on #102
Ok, with regards to the second issue I believe I have this fixed. I also implemented it such that sending windows between monitors _should_ maintain their relative position on the previous monitor. For example, if a window is on the middle right half of the screen and you send it to the next monitor, it's position will be maintained on the right half of the destination monitor. There are some weir

[2020-11-02 17:29] JLErvin commented on #102
After some usage the functionality appears ok to me - I'm going to merge with master. We can open a new ticket and cut a new release if there are additional issues. Thanks for the help @smartmic :)

[2020-11-02 17:29] #102 closed

[2020-11-04 21:35] smartmic commented on #102
No problem, happy I could help. And I can also confirm the new usability - way better than before and a big thumbs up for berry!

[2020-11-06 16:08] Bridouz opened #104 "Unable to move windows with pointer after a while"
Hi, Thanks for `berry`, a really nice tiny wm which stay out of the way and let us use our computer.

However I have an issue (noticed on Alpine Linux (Musl Libc/Busybox) and Debian (Glibc/coreutils)

After a while windows can't be moved with pointer. It does nothing. Killing `berry` and restarting the X server solves the issue. I do not know what's causing this. Just a few minutes ago it was when

[2020-11-07 21:21] Melonai opened #105 "Blank screen with cursor on startup"
Hi!

I recently decided to test out some window managers and berry caught my eye as being an interesting pick.
However I can not get berry to work, all I see when I start the Xorg server is simply a black screen with a default cursor, just as another issue described here: https://github.com/JLErvin/berry/issues/87

Piping stdout and stderr to a log file didn't help, as I only see received events f

[2020-11-07 23:03] JLErvin commented on #105
So you're starting `berry` from the tty I'm assuming. i.e., you have a `.xinitrc` file and you launch `berry` by running `startx`?

If you want to look at log files just have `berry` run in debug mode and redirect standard error to a file. Something like:
[code]

**BUT**, I'm not totally convinced anything is _wrong_ here. This is exactly how `berry` should behave. You run `startx` and it launches

[2020-11-07 23:17] Melonai commented on #105
Yep I'm starting berry from `.xinitrc`, which currently looks like this:
[code]

And here's my `sxhkdrc` file (located in `~/.config/sxhkd`):

[code]

I've made sure the second bind is working properly, however, as you've said, I can't get a terminal to pop up. In my case I'm trying to use `fish`, but I've tried the same with `/bin/bash`. I've also tested other key bindings to open the terminal, b

[2020-11-07 23:20] JLErvin commented on #105
`/usr/bin/fish` isn't a terminal, it's a shell. You'd want something like
[code]
`urxvt` is the terminal I use, but that could also be something like `xterm` or `xfce4-terminal` or `gnome-terminal` or any other alterntaive.

[2020-11-07 23:32] Melonai commented on #105
I knew I'd trip up on something as easy as this!
After switching out `fish` for `st` everything started working as expected.

Thanks for the quick reply! ^^

[2020-11-07 23:32] #105 closed

[2020-11-07 23:55] JLErvin commented on #105
Glad I could help :)

[2020-11-08 02:54] JLErvin commented on #104
hmmm I've never ran into this myself. can you try replicating it and posting some logs. You can generate logs by starting `berry` as
[code]

[2020-11-08 16:50] Bridouz commented on #104
OK I ran into the bug once again.

Logs show nothing regarding that issue :

[code]

[2020-11-08 21:10] JLErvin commented on #104
hmmmmmm. yeah the logs aren't telling us much. can you also post your `.xinitrc` (assuming you're starting the X server that way), your `autostart` and your `sxhkdrc`? I'm not able to replicate anything on my end. do you have any more details about replicating this? is it immediately after you start dmenu, or just randomly?

[2020-11-09 17:38] Bridouz commented on #104
I've juste tried this morning with défaut `autostart` ans `sxhkd` (berry exemples), `xinitrc` only sets `setxkbmap` to `fr`, starts `sxhkd` ans `exec berry`.

It worked this morning but when I got back from work I rang into the same issue.

It may ne related to `slock` (screenlocker). I really do not know what's the cause.

[2020-11-10 03:36] JLErvin commented on #104
hmmmm, yeah I'm not having any luck replicating this. I've gone ahead and pushed some logging improvements and a _potential_ fix to the development branch huckleberry. You can try pulling from there if you like and seeing if it eliminates your problem, or potentially adds something to the logs to help us debug.

[2020-11-10 17:42] Bridouz commented on #104
Tested `huckleberry` branch (what is `hucklberry` branch ?), still no luck...

I really do not know what's the cause of all of this fuss.

[2020-11-18 17:00] Bridouz commented on #104
Closing, don't know why it hangs on my  computer, does not hang on wife's one.

[2020-11-18 17:00] #104 closed

[2020-11-19 22:13] JLErvin commented on #81
Merged with master as of 5a9848e1316880221e77a40154e6c5b905332f7b

[2020-11-19 22:13] #81 closed

[2020-11-19 22:14] JLErvin commented on #88
Implemented as of fd8e2bce8a473874f264f2ef53ebb981ec5d5bdd

[2020-11-19 22:14] #88 closed

[2020-12-04 19:54] sourTaste000 commented on #2
rounded corners?

[2020-12-15 20:21] machooper opened #108 "Running make causes an error (Fixed)"
I followed the instructions and installed
[code]

But still received a `fatal error` on `#include <X11/extensions/Xinerama.h>`

I managed to fix it by installing the following

[code]

[2020-12-15 20:21] #108 closed

[2020-12-15 22:21] machooper opened #109 "BadAccess (attempt to access private resource denied)"
When I run berry from the CLI I receive the following error.

[code]

I attempted to copy the `.xininitrc` which seemed to fix it for this guy https://github.com/JLErvin/berry/issues/74

However it did not fix the error so I just removed the `.xinitrc` file again.

Any idea what might be causing this and how to fix it?

[2020-12-28 17:34] #109 closed

[2021-01-02 00:48] kcirick opened #112 "missing a handler to change _NET_CURRENT_DESKTOP"
It seems that berry is missing a handler to change _NET_CURRENT_DESKTOP, so other applications (i.e. polybar) that sends the signal directly cannot change the workspace.

Here is the question I asked to r/polybar on reddit:
https://www.reddit.com/r/Polybar/comments/kokrja/clicking_in_xworkspacesdoesnt_change_the_workspace/

version: 0.1.7 release

[2021-01-02 00:55] kcirick commented on #112
Never mind, I see the change was added after the latest release.

Sorry for the noise. Closing.

[2021-01-02 00:55] #112 closed

[2021-01-05 18:24] kcirick opened #113 "switch_workspace immediately goes back with FOCUS_FOLLOWS_POINTER true"
To reproduce: configure with FOCUS_FOLLOWS_POINTER true, and execute "berryc switch_workspace i" while the pointer is focused on the current window. The workspace switches back immediately to the current workspace (after some flickers). The window switching works fine if the pointer is somewhere other than the focused window (i.e. desktop).

[2021-01-08 04:35] emberavenge opened #114 "Any update regarding making certain windows launch in a specific workspace without berry decorations?"
Hey first and foremost, I would like to say, berry as a window manager, and berry's philosophy is really intriguing to me and solves most problems I have with most window mangers, and that's usually the configuration file. And I have  2 reasons:
1. The config file having too many options to configure, which for some people is a good thing but, for me personally, I tend to have trouble with compreh

[2021-01-09 03:56] JLErvin commented on #113
Hi :)

Can you try checking out the `huckleberry` branch, rebuilding/restarting `berry`, and see if the behavior persists on there? If it doesn't then I'll cut a new release with these changes.

[2021-01-09 15:23] kcirick commented on #113
Thank you for the quick action. I tried the huckleberry branch, and the workspace switching is now working as properly with FOLLOW_POINTER true and WARP_POINTER true in config.h

However there is an annoying side effect with warp_pointer: When switching workspace with keybind it works fine, the pointer warps to the appropriate window, but when switching workspace from a clicking event in polybar,

[2021-01-10 06:32] JLErvin commented on #114
Hi Emerson,

Sorry for the slow progress, my life is kind of insane right now so development has been slower than I'd like. Regardless, I would like to get back to you one this.

From both a time perspective and a complexity of implementation perspective, it seems to me that adding a built-in ruler daemon for `berry` is both infeasible and inefficient. `berry` has always followed the unix philosop

[2021-01-25 00:25] cjhillbrand opened #116 "Unexpected Crash"
Hello,
Long time berry user and fan. I have recently adopted a second monitor into my linux setup and I have been configuring berry to play nice with the new setup. I believe I am a close, but I believe there may be some unexpected behavior.

**Issue**
Berry crashes and returns me to the initial log in terminal.
**Repro**
1. On primary monitor draw a window.
2. On secondary window draw a window (o

[2021-01-25 05:23] JLErvin commented on #116
What version of `berry` are you using (i.e. `berry -v`)

[2021-01-26 00:04] TaylanTatli opened #117 "Move/Resize doesn't work when Numlock is on."

[2021-01-27 05:26] JLErvin commented on #113
Hmmm, I'm not able to replicate this behavior. If `warp_pointer` is disabled I don't see the pointer warping at all. Are you sure you recompiled and restarted `berry` after you changed that value? By the way, it's much easier to just set this at runtime by running `berryc warp_pointer false` from the command line.

[2021-01-27 14:08] kcirick commented on #113
My mistake... I recompiled and changed the location of `berry` but forgot to change the location of `berryc`, so it was using the old command instead of the one I just recompiled. Now it seems to be working. Thank you!

Relating to this issue: When the pointer moves to the new window, it also raises the window. Would it be possible to NOT raise the window (only raise the window with the click even

[2021-02-14 22:26] xfnw opened #118 "fullscreen should hide any system bars"

[2021-02-27 21:08] avcado opened #121 "Unable To Compile on Arch Linux"
Things I ran
[code]
I'm running arch linux x86_64

[2021-03-02 01:53] JLErvin commented on #121
hmmm, pulling from the latest version of `master` I don't have any issues running the commands listed.

What is the output of `make --version`?

[2021-03-02 01:57] JLErvin commented on #118
I'm not totally convinced that this is necessary behavior. The freedesktop EWMH specification states that:

`berry` should be compliant with these rules (although I will note that full screen behavior is configurable). If a window takes up the entire active screen then is there any reason to hide system bars? I'm curious what the use case is for this - I'm under the impression that `berry` manages

[2021-03-02 21:49] Jimmysit0 commented on #121
I have the same issue. Here's the ouput of make --version

GNU Make 4.3
Built for x86_64-pc-linux-gnu
Copyright (C) 1988-2020 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

[2021-03-03 01:00] xfnw commented on #118
ah, makes sense

[2021-03-03 01:00] #118 closed

[2021-03-06 03:15] avcado commented on #121
[code]

[2021-03-08 21:52] KingTheGuy opened #122 "help, disable specific decoration."
im trying to use picom effects but berry's decorations seem to be getting in the way.
if i disable window decorations then yes all is fine.
just looking for border focus when in focus, otherwise no other decorations.

[2021-03-08 22:04] JLErvin commented on #122
https://github.com/JLErvin/berry/issues/75

Does this help?

[2021-03-08 22:17] KingTheGuy commented on #122
no it's not a shadow problem, im pretty much looking to disable:
berryc inner_focus_color
berryc inner_unfocus_color

so that those decorations are not applied. and picom can handle background opacity/ effects.

[2021-03-16 19:20] avcado commented on #121
bump

[2021-03-16 23:04] rachejazz commented on #121
@avcado as it looks,the error is thrown during compiling and the Makefile informs you the compiler used `$CC=gcc`. What is your gcc version? Current running is 11, mine is at 10.2

[2021-03-17 18:57] avcado commented on #121
running `gcc -version` i get 10.2.0

[2021-03-19 00:16] namespace-miata opened #124 "Bit clearer documentation on keybindings"
Few small things, and maybe I'm just stupid, but when I launch berry via startx or a display manager, no keybindings work. I'm somewhat familar with sxhkd because previously I used bspwm, however the docs say nothing about autostarting it or placing the bindings file in its config directory or even installing it. Putting sxhkd in the autostart file doesn't seem to fix it either, so if anyone can h

[2021-03-19 00:18] namespace-miata commented on #124
Ok I noticed a closed post similar to this, and I'm gonna try that, however I think updating the docs still might be a good idea for someone who is completely unfamiliar with wms

[2021-03-19 02:59] JLErvin commented on #121
I'm having trouble reproducing, but I am indeed looking into it....

[2021-03-19 07:42] JLErvin commented on #124
Closing this to move discussion to the `berry-doc` project: https://github.com/JLErvin/berry-doc/pull/5

[2021-03-19 07:44] JLErvin commented on #124
@namespace-miata I've opened a pull request on the documentation repo: https://github.com/JLErvin/berry-doc/pull/5. I've created a new page for the website that walks through basic installation for total newcomers - I'd love for `berry` to be a project that's very welcoming to the less experienced.

Please leave any comments you have on that PR and we can discuss over there.

[2021-03-19 07:44] #124 closed

[2021-03-22 19:30] avcado commented on #121
A strange thing I've noticed is it seems to be only arch. I've tested it on Ubuntu, Void, and Gentoo, and they both compile correctly. I think it has to do with `gcc` on Arch/Artix.

[2021-03-23 20:16] rachejazz commented on #121
I'm using vanilla Arch too. Didn't face any error while compiling. I'm in a real short of time to investigate this myself. I hope @JLErvin is looking into this

[2021-03-24 21:24] JLErvin commented on #121
@msharov any thoughts on this?

[2021-03-24 21:35] msharov commented on #121
WORKSPACE_NUMBER is defined in config.h, which is generated by configure from config.h.in. config.h is included from client.c and I see no defines of it anywhere else. I am unable to reproduce the problem.

You should try `cpp -E client.c` and see what gets written to fn_int_str. config.h should be mentioned near the top of the output.

[2021-03-27 03:53] avcado commented on #121
update: it compiles

[2021-03-27 03:53] #121 closed

[2021-03-29 03:56] dontlaugh commented on #73
Thanks for noting this. I was having trouble with opacity using picom.

[2021-04-05 14:40] lowercasename opened #127 "Is there interest in next/previous desktop functionality?"
Hiya, loving berry to bits - such a lovely Unix experience. I'm also the new KISS Linux maintainer for the package. 🙂

I've written a simple shell script that allows me to switch desktops or switch+move windows to the next/previous desktop, with wraparound. Is there any interest in adding this functionality to berry, or are you happy for it to stay as a scriptable addition?

[2021-04-05 21:12] JLErvin commented on #127
I'm probably happy either way. On the one hand I like to keep the size of the project small in the interest of keeping `berry` very unix-like. However, I also recognize that some functionality which is often used is more convenient to manage inside of `berry`.

This should be a super quick implementation (I can't imagine this is more than like a 15-line change), so I'd be happy to add it.

There a

[2021-04-05 21:22] lowercasename commented on #127
I'd be happy if you added it, I think it's a worthwhile addition, and especially if it's that small. I do feel the draw of keeping the codebase as simple as possible! I guess a reason for adding it, even though it can be trivially scripted, is to mirror the window focus switching command - it _feels_ like a similar sort of functionality.

I'm also happy to add that script to a repository, but I ag

[2021-04-05 21:26] lowercasename opened #128 "Can the number of desktops be adjusted?"
This might be my X11 naivete coming through, although a Google didn't come up with anything generic for X11. Is there a way to set the maximum number of virtual desktops, either in Berry or X11? I've currently got 10 showing.

[2021-04-05 21:32] JLErvin commented on #128
X11 itself has no concept of a virtual desktop, it's the responsibility of the window manager to implement them (although I will note that the [EWMH](https://specifications.freedesktop.org/wm-spec/wm-spec-1.3.html) specifications does have a concept of a desktop).

The maximum number of desktops in `berry` is just a hardcoded value associated with a constant `WORKSPACE_NUMBER` (you can find the de

[2021-04-05 21:35] lowercasename commented on #128
That's very interesting, I had no idea! I guess this is why all window managers trumpet the fact that they have virtual desktops.

The only use case I can see for it is if one, say, starts moving through virtual desktops consecutively with a bash script they wrote and gets bored by about desktop 6. ;)

[2021-04-13 22:11] rachejazz opened #129 "Permission denied on device access"
While building berry, I intended to install all the make generated files inside a different directory, other than the default (/usr/share/). Just wanted not to execute make as a root user.

Now, ofc /dev/mouse gives me Permission Denied(Saw it from x server logs). Is it because berry doesn't have root access?
Is there any other way around this other than `sudo make install`?

[2021-04-22 11:30] hatcatpat opened #130 "Alt-Click resizing interferes with some programs"
I've found that some programs hard-code the Alt-Click as a hotkey, but this triggers the window resizing in berrywm and doesn't pass the mouse event on.

A specific example is Purr-Data, you need to hold Alt and left click in order to use the UI (so its currently impossible to use this program in berrywm)

I've just changed my local version to use Super+Alt+Click to be resize rather than Alt+Click

[2021-04-22 11:35] hatcatpat commented on #127
I have modified my local version to add "switch_ws_relative" and "send_to_ws_relative" to berryc, the changes are in here if you are interested :)

https://github.com/hatcatpat/dotfiles/tree/master/black/custom_berry

[2021-04-24 11:24] StevePER opened #131 "berry exiting on cycle_focus"
I'm a new berry user and I'm having some stability issues with berry crashing occasionally. I can reproduce it reliably as follows:
- login via xdm
- start a terminal (I'm using sakura as my terminal)
- run xev
- click on the terminal window
- press ctrl-c to terminate xev
- run berryc cycle_focus

I've tried compiling with debug symbols and attaching gdb but it appears to be shutting down cleanly

[2021-04-24 11:26] StevePER commented on #131
berry version 0.1.7

[2021-04-24 22:27] JLErvin commented on #131
Hmmm, I'm not able to reproduce this at all. Can you trying building off of the latest master and see if this issue persists?

I'll keep trying to get it to crash.

[2021-04-25 07:48] StevePER commented on #131
Yes this is with the latest master. I will add some logging and see if I can debug it further.

[2021-04-25 08:24] StevePER commented on #131
It is even easier to reproduce with focus_follows_pointer set to true. Start a terminal, run xev, focus on the terminal, then ctrl-c.

When logging is enabled, the output shows:
berry: Fatal request. Request code=138, error code=9

Putting a breakpoint in the xerror method shows that there are a sequence of BadWindow errors (which are ignored) followed by this BadDrawable error (which is considere

[2021-04-27 10:33] lowercasename commented on #131
I'm happy to make another issue, but I just experienced a crash after doing the following, and it seems somewhat similar to what's being described here:

- login through tty1, without a display manager
- start berry with `startx`
- run xev
- test a few keypresses
- click on the terminal window to return focus to it
- press `ctrl-c` to kill xev
- xev closes, and then berry suddenly closes and retur

[2021-04-27 12:36] StevePER commented on #131
As the xev window is closing, berry goes to write its title bar text and the call to XftDrawStringUtf8 is what is triggering the error.

Stack trace:
- draw_text() (wm.c:355)
- client_manage_focus() (wm.c:1265)
- handle_enter_notify() (wm.c:853)
- run() (wm.c:1819)

[2021-04-27 12:44] StevePER commented on #131
Calling client_decorations_destroy from the client_delete method seems to fix it. Does that seem like a reasonable fix?

[2021-04-27 16:19] JLErvin commented on #131
It seems like this shouldn't work since it will leave window decorations intact after clients are removed - unless they're getting removed somewhere else and we're trying to delete non-existent windows. I'll try recreating this after work today and see what I think.

[2021-04-28 20:01] JLErvin commented on #130
This is currently half-possible in `berryc` using the `resize_mask` function. However, that argument takes a single mod as an argument, so you can't currently use two mods in combination with one another.

[2021-04-28 20:09] JLErvin commented on #129
I don't believe this is a `berry` specific issue. You're free to put the necessary binaries (`berry`, `berryc`) wherever you please. Whether or not you can run `berry` rootless is an X server issue.

This post might be useful: https://unix.stackexchange.com/a/439107 ?

[2021-04-28 20:10] JLErvin commented on #131
Despite my best efforts I'm still unable to reproduce. Can I get some more information regarding your environment, i.e.
* The contents of your `autostart` file
* The contents of your `sxhkdrc`
* The version of `xev` you are running
If I'm unable to reproduce I'm opening to reviewing a PR that resolves the issue on your end.

[2021-04-28 20:35] lowercasename commented on #131
Again, not my issue, but if it's helpful, here's a video I've made showing the bug on my end - it may be a little different to what's being described by @StevePER: https://photos.app.goo.gl/QygLtED9cAMKFseJ7

Here's my `autostart`:

[code]

Here's my `sxhkdrc`:

[code]

Here's `xev`:

[code]

Here's `alacritty`:

[code]

[2021-04-29 04:49] StevePER commented on #131
autostart:

[code]
sxhkdrc:

[code]
xev:
[code]

[2021-04-29 04:56] rachejazz commented on #129
Thank you for the guidance :)
I will investigate this further. Closing

[2021-04-29 04:56] #129 closed

[2021-05-06 12:17] Young-Angelo opened #132 "Disable edge-lock while sending windows to other workspaces."
I like edge-lock, but boy is it frustrating to send applications to other workspaces with edge-lock on. Since you have to switch to the workspace you intended to send the application in order to let the application inside the workspace. It would be really helpful to have an option where you have the functionalities of edge-lock but without this problem.

[2021-05-06 22:37] JLErvin commented on #132
Can you try building on the latest master and tell me if you have the same issue?

[2021-05-07 05:51] Young-Angelo commented on #132
Ah nope, It works good. I don't have that bug anymore.

P.S: I installed berry from the void repos

[2021-05-07 05:51] #132 closed

[2021-05-13 20:33] vaskark opened #134 "Release/git still identified as 0.1.7 (not 0.1.8)"
FYI

Edit: Oops. I guess git is marked correct. Apologies.

[2021-05-19 20:49] #134 closed

[2021-06-09 12:04] StevePER commented on #131
@JLErvin would you like me to make a pull request for this? It is just a one-liner adding a call to `client_decorations_destroy` to the `client_delete` function. Otherwise I'm happy to help debug further if you there are other things I could try.

[2021-06-10 07:08] JLErvin commented on #131
Yes, please open a PR. I'm unable to validate this on my end - so it's best if it's something that you can test on your end. I'll review and merge it assuming it doesn't change anything for me.

[2021-06-10 10:00] StevePER commented on #131
Done. Sorry I'm not sure of the correct way to link it to this issue.

[2021-06-10 19:01] JLErvin commented on #131
No worries, I see it. I'll take a look after work today :)

[2021-06-13 22:22] JLErvin commented on #131
@StevePER merged and release as of [0.1.9](https://github.com/JLErvin/berry/releases/tag/0.1.9)

[2021-06-14 13:48] StevePER commented on #131
Looks fixed in 0.1.9 to me. Thanks!

[2021-06-26 08:25] zsugabubus opened #140 "Why does it hurt to put output files into source tree"
I know it is configurable via `--builddir` but I have wasted minutes to find out where the output files have gone (especially I have built it in a containerized like environment).

I just would like to learn something new today and ask why `.o` -> `/tmp/make/berry` is the default location. What's the motivation behind it?

[2021-07-04 22:59] vzzrd opened #141 "berry simply does not launch (Arch)"
I just `git clone`d the repo because the AUR package is broken at the moment. I successfully built it, changed the config, adjusted my `.xinitrc` but it simply does not launch. I tried to get some output with Xephyr but that does not seem to indicate any issues:

[code]
[autostart](https://pastebin.com/zt1i9mqs), [sxhkdrc](https://pastebin.com/n52EZJAT) and [xinitrc](https://pastebin.com/QN391jxA)

[2021-07-05 00:17] msharov commented on #140
/tmp is usually a ramdisk, which makes the build go faster and saves the wear on your ssd.

[2021-07-05 23:13] JLErvin commented on #141
Perhaps try launching `sxhkd` in the background. i.e.

[code]

[2021-07-06 00:15] vzzrd commented on #141
Thanks, you have no idea how stupid I feel right now...

[2021-07-06 00:15] #141 closed

[2021-07-06 00:41] zsugabubus commented on #140
I already have a tmpfs spinning for this reason but who cares about it. /tmp is for temporary files and I think if the aim of the project to make people use it then the produced binary is surely not temporary. And the project advertises itself as “A healthy, byte-sized window manager”, so I guess nobody expects giga-bytes of output that would wear anybody's SSD even a little-bit.

[2021-07-06 02:30] zion1004 opened #142 "Issue when installing using trizen(maybe?)"
Can someone explain why this happening? I'm assuming its trizen, but I dunno. Have no issue building from source though. Srry for bad English.

![image](https://user-images.githubusercontent.com/26509174/124532518-af4e7480-de4b-11eb-9911-8a9d0bfb382e.png)

[2021-07-06 11:11] lowercasename commented on #142
The poster in [this issue](https://github.com/JLErvin/berry/issues/141#issue-936556940) mentioned that the AUR package is broken, perhaps this is the same issue. Try seeing if the issue occurs if you build from source?

[2021-07-06 12:39] msharov commented on #140
Builddir contents is temporary, most of it being kept there just to speed up rebuilds during development. Even the binary is only there temporarily until install. I would consider such a dir full of temporary files to belong in /tmp. So what exactly is your complaint here? If you are trying to suggest a better default builddir location, let's hear the arguments for it.

[2021-07-06 16:56] vzzrd commented on #142
@lowercasename Can confirm that the issue I was referring to. This was already fixed once by the maintainer ([here](https://aur.archlinux.org/packages/berry-git/#comment-730198)), not sure why it started happening again

[2021-07-06 16:58] JLErvin commented on #142
This is likely my fault - I inherited the AUR package recently and have done an exceptionally poor job of maintaining it. I'll look into it.

[2021-07-06 17:24] vzzrd opened #143 "Decorations get toggled when window is sent to another WS, and smart_place doesn't appear to work"
I really hope that this just isn't me being stupid, yet again.

For some reason, when I move a window to another workspace it toggles it's decorations, and I have to manually toggle them back on, this happens with every program. `decorate_new` has no effect on this. This is my keybind:
[code]
And regarding the `smart_place` problem: I'm not sure if my screen resolution (1280x800) has to do anythin

[2021-07-06 17:34] JLErvin commented on #143
I'll try to repro...

[2021-07-06 18:55] JLErvin commented on #143
It looks like the decorations issues was introduced as a bug in https://github.com/JLErvin/berry/pull/136, I'll look into a fix.

[2021-07-06 21:00] vzzrd commented on #143
I had a look around and I think that I understand the problem. I'm still learning C and I haven't worked with Xorg yet. But is there a way to check if the "dummy" windows are drawn around the clients when you switch to a WS? Something like a struct inside a struct that would hold the client and state of the "dummy" window? IDK, just an idea

[2021-07-06 21:03] JLErvin commented on #143
I know what the issue is, it’s just a matter of the simplest way to fix it. The PR I linked introduced destroying decorating when clients are moved to prevent certain errors, but this leads to the state being lost during workspace switches.

[2021-07-06 23:32] JLErvin commented on #142
Howdy, can you try installing again?

[2021-07-07 01:17] zsugabubus commented on #140
Source code is not temporary then? It is also not needed after installation.

And I'm not immediately install programs (as make finished); I'm not on Windows.

- My biggest complaint is that it adds unnecessary complexity for nothing.
- If project is small, it can be compiled in one step quickly and you do not have to care where compiler puts its temporary files (/tmp). And for bigger projects it

[2021-07-07 01:51] JLErvin commented on #140
Personally, I have no preference to either default value. Using the source tree is more simple, and I do understand the merit to that approach (especially with a project which is intentionally small). However, even small benefits to improve SSD performance are welcome - and I do admit that I like keeping my project "clean" without lots of `.o` files everywhere.

Since this value is configurable, I

[2021-07-07 01:53] #131 closed

[2021-07-07 01:53] #116 closed

[2021-07-07 02:39] zion1004 commented on #142
It is working now. Trizen isn't giving error anymore. Should I close the issue?

[2021-07-07 03:23] JLErvin commented on #142
I'll close it - thanks for reporting!

[2021-07-07 03:23] #142 closed

[2021-07-07 03:23] #140 closed

[2021-07-07 13:54] zsugabubus commented on #140
Thanks for the feedback.

Replace 4 (four) spaces with a single tab. (Means 10K, not kidding.) Configure your kernel properly. Work on tmpfs. Use bare repository.

[code]

We can state that saving "wm.c" is true SSD killer.

Am I right that we speak about a project with 3 C source files? Code is distributed like 1, 9 and 90%, so if you modify "wm.c", recompiling other two basically has no cost.

@

[2021-07-07 16:11] msharov commented on #140
There is no need to get hysterical. I get it; your usual build workflow got broken and you're annoyed. But most people do not use a container to build stuff, or for anything else for that matter. When you do unusual stuff, you shouldn't expect everyone to cater to your needs or to take inane suggestions like "replace 4 spaces with a tab" or "work on tmpfs".

As for simplicity, using a builddir sim

[2021-07-07 16:51] lowercasename commented on #140
As I've been tagged, I do just want to point out that as far as Unix experiences go, the FSH standard states that "The /tmp directory must be made available for programs that require temporary files." As the program in this case is a makefile, the end result of which is a binary, the output source files _are_ its temporary files. Feels pretty Unixy to me 🙂

[2021-07-08 00:30] zsugabubus commented on #140
Called pure facts in my language.

Get it? If you find it funny, how much .o -> /tmp differs then?

Other answers in order: exclude files; if /tmp goes away it is not faster/FS cache; (global) .gitignore for such accidents; GCC+XOrg in the red corner, berry in the blue–maybe there is some _little_ difference?; one more configuration option: adds complexity; in real life, I also keep valuable files

[2021-07-08 02:08] JLErvin commented on #140
In all honesty, I don't find this discussion particularly productive. I appreciate the feedback and that you're passionate about the topic. But like any project, there are design decisions that are made and they can't do everything perfectly. I know you'd probably say that the trade-offs scew the other way and that we made the wrong choice - but I respectfully disagree.

From my perspective, we ha

[2021-07-08 23:24] zsugabubus commented on #140
Instead of this sentence and the followings you could prove my wrong, but... yup, neither me. I feel you do not react to any of my thoughts, it does not count how hard I try to reason. But in the end I do not really care about it, I am not a berry user so what I can say is: See you. Have a nice life!

[2021-07-22 01:58] Sidd-Dino commented on #130
I've been poking the code for bit.
I thought of implementing a way to allow the `resize_mask` function of `berry`.
Been tossing **stupid ideas** to avoid pointless string manipulation.
I've come to rest on the idea of using hashing.
Just wanted to check if i'm being dumb.

Oooh the hash function i thought of using is [`djb2`](http://www.cse.yorku.ca/~oz/hash.html)

The shortcoming for this _(hashi

[2021-07-22 02:27] JLErvin commented on #130
We can probably think of a much simpler solution than having to hash the resize mask. There's likely a fairly simple solution, actually, now that I think about it. Rather than passing a string to the `X11` server, the `resize_mask` command in the client can simply send the mask itself.

The way that these masks work is that they're just a series of numbers, each with only one non-zero bit. They're

[2021-07-22 02:53] Sidd-Dino commented on #130
Ah i got misunderstood
I intended to parse the human input provided during `berryc resize_mask <input>`
by hashing and comparing it to some for of table.
But the amount of hard coding needed for the hashing implementation worries me.

I believe `berryc` uses `(c->handler)(ev.xclient.data.l, c->config, i, argv);` and another variant for the `name_desktop` function, but the snippet gives me an idea

[2021-07-22 05:44] Sidd-Dino commented on #130
I checked out `baskerville/sxhkd`
I though they definitely would have been plagued by repeated checks.
[Oh they were](https://github.com/baskerville/sxhkd/blob/fe241b0d2d70c9c483b23cf3cd14f1383f0953a2/src/parse.c#L2721)

Looks like avoiding repeated checks is gonna make it pointless seeing that the maximum number of things that need to be checked against are **~8 Modifier Masks**

So repeated chec

[2021-07-22 06:11] JLErvin commented on #130
I think simply enumerating all inputs is fine. It’ll be a bit tedious but it’s totally understandable.

[2021-07-22 06:27] Sidd-Dino commented on #130
[I gave it a go](https://gist.github.com/Sidd-Dino/ad52686bf9a9353815135bd1c696cc06)
Turned out to be pretty simple

[2021-07-23 01:26] guijan opened #144 "Meson build system"
Hello, I think currently it can be said berry runs its own build system. It's an original mixture of make and shell scripting that imitates autotools.

Would the project be open to adding [Meson](https://mesonbuild.com/)?

Offhand, these are some of its immediately relevant features:
- Portable
The current build system is not very portable. It seems to depend on GNU extensions to utilities like se

[2021-07-24 23:29] Sidd-Dino commented on #130
Yo @hatcatpat  I tried a potential solution #146
Have a go at it if you want :D

[2021-07-25 04:13] JLErvin commented on #144
This is probably a good discussion to have with @msharov, who implemented `berry`'s current build system.

As the maintainer of the project, I will say that I'm a bit hesitant to switch build systems, for a couple of reasons. For our current needs, the build system seems to work fine and seldom requires any changes. Switching build systems is likely to add extra work for package maintainers and mi

[2021-07-25 12:59] msharov commented on #144
I would recommend against it. Meson, like many other fads, is merely a solution looking for a problem. All you gain from switching is an extra dependency. It may look simpler, but that's merely because you push the complexity from your project up to this extra external dependency. Then you have to depend on Meson maintainers to fix any problems you may have and to conform to whatever they decide i

[2021-08-07 18:14] Sidd-Dino commented on #127
Ah a feature i really need. Sooo...
[\o/ New branch \o/](/sidd-dino/berry/tree/nxt_prev_ws)

I tried to keep it as simple as i could.
Implemented the following options
[code]

[2021-08-16 15:15] michaelskyba opened #149 "Crashes a few minutes after starting"
Yesterday, berry was working completely fine. Today, I reinstalled and reconfigured it (to solve a different issue), but now, berry crashes a few minutes after starting.

The configuration I am using is pretty minimal, so I am quite confused on what I am doing wrong.

xinitrc: http://0x0.st/-yPV.txt
autostart: http://0x0.st/-yPg.sh
sxhkdrc: http://0x0.st/-yPE.txt

berry's log: http://0x0.st/-yPI.t

[2021-08-31 20:41] #149 closed

[2021-09-13 16:08] xenanthropy opened #150 "AUR package not installing man files"
I know it was an issue previously but it seems to have come back! i've gone through the pkgbuild and can't seem to see why it's not working, it doesn't pop out any errors when it's installing (ie it says _"Installing /var/tmp/pamac-build-conner/berry/pkg/berry-git//usr/local//share//man1/berryc.1 ..."_) but when I try to "man berry" or "man berryc" it says there's no man files. I even tried puttin

[2021-09-15 17:55] msharov commented on #150
The AUR PKGBUILD explicitly sets mandir to /usr/local//share/ and that's where the Makefile installs it. The correct dirname is /usr/local/share/man, which is where man will look for it.

There are a few problems there, and all of them are with the PKGBUILD.

First, the PKGBUILD does not call configure. Yes, make will do that automatically, but you miss out on being able to set important flags, li

[2021-09-16 21:12] vredesbyyrd opened #151 "workspaces only on primary display"
Hi, first off I am loving berry. It appears to be exactly what I have wanted in a wm and nothing more (which is great!)

I am switching from mostly using budgie-destkop, which is based on gnome. I am trying to replicate an optional gnome/budgie behavior, `workspaces-only-on-primary-display`.

My setup is simple:

- Laptop display (0, primary)
- 2nd Display (1)

To describe the wanted behavior as s

[2021-10-04 00:12] superstefan420 commented on #80
it works great if you use toggle_decorations instead

[2021-10-04 00:26] bcd0101 commented on #80
@superstefan420 I don't think so, because toogle decorations will turn off all window decorations, but, I would like to launch only one without decorations.

Similarly could happen with a defined size of a specific window.

[2021-10-04 04:11] JLErvin commented on #80
hi @superstefan420 , I took at shot at adding this a while ago in https://github.com/JLErvin/berry/tree/blackberry. `berryc` would work well with this so long as there was support for toggle decorations for a specific window (specified by an id) rather than the actively focused window.

Unfortunately I haven't had much time to work on `berry` lately, but I can try to make this a relative priority

[2021-10-04 15:18] superstefan420 commented on #80
I’m telling you it works lol.. it has the same effect as binding it with sxhkd it only effects the focused window

[2021-10-04 15:21] superstefan420 commented on #80
Honestly i like how berry is right now and I think using something like ruler for window rules fits perfectly with the berry philosophy .

I do like how bspwm handles rules though so you can look at that if you want to implement it right into berry

[2021-10-12 15:11] kalekundert opened #152 "Question: is it possible to label windows?"
For example, I'd like to have a hotkey that causes a window to take up half the screen.  I'd also to detect when new monitors are connected, and then resize any windows that this hotkey was used on such that they take up half of the new screen size.  I can use `BERRY_WINDOW_STATUS` to get the original size of a window, but it would be kinda of hard to work out from that what the new size should be

[2021-10-21 05:31] JLErvin commented on #151
This behavior is currently possible, but I believe that you're using the `save_monitor` command slightly incorrectly to achieve the desired result.

Workspaces _cannot_ span multiple monitors. So, given your setup, you'd want to do something like the following:
[code]
Now, switch to workspace 0 and open mpv. Now, when you cycle through workspaces 1+, they should always appear on your laptop displa

[2021-11-20 04:28] AndersonTorres opened #153 "berry does not configure on Nixpkgs/NixOS"
Hello!
I am Anderson Torres, one of the Nixpkgs package maintainers.

While trying to upgrade berrywm to the most recent release, the building process failed.

Here is the log of the failure: https://termbin.com/8t1z

[2021-11-20 04:28] AndersonTorres commented on #153
I have patched and captured the output of the generated file config.sed. Here is it: https://termbin.com/8i5x

The line

`s/@pkg_cflags@/-I/usr/include/freetype2 -I/usr/include/libpng16 -I/usr/include/harfbuzz -I/usr/include/glib-2.0 -I/usr/lib/glib-2.0/include/`

looks a bit bugged...

[2021-12-27 04:08] ymusachio opened #155 "Fixing the word "Receive""
In the file "wm.c" there are two misspellings in the word "Received".

[2021-12-27 04:15] #155 closed

[2021-12-30 17:51] kalekundert opened #159 "How to get workspace dimensions?"
I'm trying to implement hotkeys that will move and resize windows based on the dimensions of the current workspace, e.g. fill the rightmost half of the workspace, fille the middle third of the workspace, etc.  But I'm stuck because I can't figure out what the dimensions of a window's workspace are.

I looked at all the properties provided by `xprop` and `xprop -root`, but none seem to have this in

[2021-12-31 03:25] JLErvin commented on #159
I believe you can get about 75% of the way there with the current functionality. As you pointed out, the bit that is missing is that `berry` doesn't currently expose the workspace -> monitor mapping in any way publicly.

I think a good option would be to add an additional `monitor` property onto `BERRY_WINDOW_STATUS` so that we're aware of what monitor each window is rendered on. Using that inform

[2021-12-31 22:30] Scupake commented on #122
Same issue.
Here's a screenshot.
![image](https://user-images.githubusercontent.com/61241021/147840313-e6744e21-f18f-450d-97a6-a6a0864b5535.png)

[2021-12-31 22:34] Scupake commented on #122
This seems to only affect Picom.
Compton is working perfectly.

[2022-01-04 03:39] reallyrandomuser opened #161 "berryc on debian armv7 segfaults"
Hello,

berryc on my Asus Chromebook c201 running Debian seems to segfault. Linked below is the coredump.

https://0x0.st/ozKS.bin

Is there something I've done wrong? I've installed all the dependencies included in the documentation. Thanks.

[2022-01-05 07:12] sourTaste000 commented on #161
I have the same issue, but I am on x86_64.
Here is the coredump:
[code]

I have `libxinerama`, `libxft` and `libx11` installed.

[2022-01-05 20:41] AndersonTorres opened #162 "[bug] configure script does not escape properly the options to config.sed (+ other problems)"
Hello! I am Anderson, from the Nixpkgs team, and specifically the maintainer of berry package.

While upgrading the version, I have found some annoying bugs the first time (full logs at https://termbin.com/uhzt):

I hacked the configure script in order to not remove `config.sed` after `die`-ing. Here is it:

I have noticed that this line

is a bit problematic for sed, because it does not escape th

[2022-01-08 03:57] K4zoku opened #164 "Glitch when hide overlapped window and show it again"
<s>It seems only a few apps are affected,</s> in the video it's kitty terminal and sublime text.
after shutting down kitty terminal to be able to see sublime text window, and it's not responding

Video:

https://user-images.githubusercontent.com/34259386/148630591-a70ce8f0-40b1-4104-bbb8-2eb115857148.mp4

Edit: It's a glitch on almost every overlapped window

Edit 2: When I turn on border, the pro

[2022-01-08 12:11] K4zoku opened #166 "Focus window from another desktop not auto switching desktop"
As the title says, this is what I discovered when I clicked on a discord notification from a desktop that doesn't contain discord. It focuses on the discord window, I can type, even send messages, but the desktop doesn't automatically switch to the desktop containing the discord.

[2022-01-08 15:45] msharov commented on #162
`configure` escapes cflags on line 178:
https://github.com/JLErvin/berry/blob/538de113a3646fc525ed62f7c5be638f2260d288/configure#L178

Non-escaping default cflags was a problem addressed in your other issue #153 and was fixed by commit f6ff9e18f0f04970ef101bc2be12d550b082d713. Please check that you have pulled that commit in.

`pkg_verstr` is supposed to be updated in configure (line 7) for each r

[2022-01-09 02:55] AndersonTorres commented on #153
Closing because now it is working.

[2022-01-09 02:55] #153 closed

[2022-01-09 02:56] AndersonTorres commented on #162
Installing `which` is not a serious problem to me. It can be easily provided as a build input.

[2022-01-09 02:56] #162 closed

[2022-01-09 18:55] K4zoku commented on #164
using `berryc decorate_new false` fixed the problem

[2022-01-09 18:55] #164 closed

[2022-01-10 19:02] K4zoku commented on #166
fixed with an ugly solution
[code]

[2022-01-13 07:26] K4zoku commented on #166
okay, i fixed it myself

[2022-01-13 08:31] K4zoku commented on #2
This can be done with rofi and a simple shell script

![image](https://user-images.githubusercontent.com/34259386/149294017-ab44aec5-6154-493b-ad52-d8390bd40b3c.png)

[2022-01-13 09:00] K4zoku commented on #117
After researching, editing, testing, I still don't understand why it is so.

But this can be considered a feature instead of a bug. when you need to move/resize turn numlock off, otherwise turn it back on

[2022-01-21 08:37] acoolstraw opened #169 "Title of unfocused window disappears after switching workspaces"
I opened two instances of st, I focused the right one, then switched to workspace 2 and back to 1, title of the unfocused st disappeared (happens with Chromium as well, probably all applications). Clicking on it brings the title back.

Before:
![before](https://user-images.githubusercontent.com/45886986/150494044-4f57dcdc-9ec9-4d50-bb7a-56126b338d7a.png)
After:
![after](https://user-images.githubu

[2022-01-21 10:45] acoolstraw commented on #143
still happens, really bothersome, can't move windows around with my mouse anymore when I move them to another workspace

[2022-01-29 10:20] arcolinuxz opened #170 "Github - settings - adding discussions"
![ArcoLinux-2022-01-29_11-19](https://user-images.githubusercontent.com/36679406/151657245-6854a244-ec62-4ced-bce4-8befb4327c69.png)

Would you consider using discussions on github?
A casual way to talk with the developers and the users?

When something become official it will go in an issue.

[2022-01-29 10:23] arcolinuxz opened #171 "How to reload berry?"
Is there a command we can run to reload berry and its autostart?

super + shift + r  in sxhkd is for us restart.
https://github.com/arcolinux/arcolinux-berry/blob/7d843d6aa7461bb620d26444bef1ecb6d551c95b/etc/skel/.config/berry/sxhkd/sxhkdrc#L52

[2022-01-29 10:25] arcolinuxz opened #172 "Making windows smaller and bigger with the help of the mouse"
Is it possible to make a window bigger or smaller with right or left **mouse** click and a combo with super or alt ...

[2022-01-29 10:28] arcolinuxz opened #173 "Picom"
Can picom work with berry?

Re-edit - I was able to have part of picom working at one time -  it seems it is the transparency that is not working.
Fading and shadow worked.

Tried changing settings in the config.
Tried different picom versions.
![2022-01-29_11-53](https://user-images.githubusercontent.com/36679406/151658314-2360bb04-7f64-41f5-bf03-708046d50302.png)

Here is my picom.conf

https://

[2022-01-29 10:28] arcolinuxz commented on #171
Arch Linux - ArcoLinux
berry-git-git+972f953-1-x86_64.pkg.tar.zst

[2022-01-29 10:51] arcolinuxz commented on #173
![Uploading ArcoLinux-2022-01-29-1643453500_screenshot_1920x1080.jpg…]()

[2022-01-29 10:56] arcolinuxz commented on #171
in the meantime I have created my own package
AUR is behind and not correct - missing man files
![2022-01-29_11-55](https://user-images.githubusercontent.com/36679406/151658358-36216377-c949-42a6-905a-776ad7bc599e.png)

[2022-01-29 11:07] arcolinuxz commented on #173
On the same computer I install Bspwm with same picom application and same picom configuration.
![ArcoLinux-2022-01-29-1643454406_screenshot_1920x1080](https://user-images.githubusercontent.com/36679406/151658661-6f236534-f794-4056-af81-67920d3e4586.jpg)

[2022-02-04 04:23] #159 closed

[2022-02-04 07:24] JLErvin commented on #171
`berry` doesn't have a command to reload on-the-fly. However, such a command is generally unneeded as `berry` is configured at runtime by the commands sent through `berry`. The `autostart` file is just a shell script, and there's nothing stopping you from running it anytime you want.

[2022-02-04 07:24] #171 closed

[2022-02-04 07:25] JLErvin commented on #172
Yes. You should use whatever hotkey is bound with `move_mask` or `resize_mask` to do so.

[2022-02-04 07:25] #172 closed

[2022-02-04 07:28] JLErvin commented on #173
This is a known issue and is an artifact of the way that `berry` draws window decorations. Decorations in `berry` are simply larger "fake" windows drawn behind each application. It would certainly be possible to refactor `berry` to use a more complex decoration scheme which doesn't do this, but it's not something I will have time to implement soon. I'm always open to reviewing PRs should someone e

[2022-02-04 07:28] #173 closed

[2022-02-11 16:20] NNBnh opened #174 "Window resizing using mouse on borders is forgotten?"
<sub>Thanks for create suck a good/simple WM. I have using BerryWM for over a week now and it've been great!</sub>

In #92, [**@aa1chemist**](https://github.com/aa1chemist) asked:

This get an exciting response:

<sub>-- Jul 26, 2020 --</sub>

I'm using berry `v0.1.9` on NixOS and can't resize window on borders.

It's have been almost 2 year, has this feature been forgotten?

[2022-02-26 10:48] arcolinuxz commented on #60
Is this now implemented into Berry or do we need to use the scripts?

[2022-03-04 14:31] ghifarit53 commented on #93
Hi JLErvin! I am so sorry I kept forgetting this for a long time :'), I am no longer using Linux and therefore couldn't make the screencast as I promised before, I think this issue can be closed

[2022-03-04 14:31] #93 closed

[2022-03-05 04:52] dontlaugh opened #175 "Missing documentation on valid modifiers for move_mask, resize_mask"
Resize masks and move masks were reworked in this PR:

https://github.com/JLErvin/berry/pull/146

But the man page (and website?) could be a bit better.

The current man page looks like this:
[code]

But technically "Mod1", and the others listed, are invalid. Only lower-case strings (e.g. "mod1") are accepted.

[2022-03-17 23:31] #166 closed

[2022-03-18 08:19] Ved-un opened #179 "Please fix PKGBUILD"
[code]

Please fix PKGBUILD.
Must be :
[code]

[2022-03-19 01:51] JLErvin commented on #179
Should be updated now, want to give it another try?

[2022-03-19 17:47] Ved-un commented on #179
Many thanks. Now everything is fine, the error has disappeared.

[2022-03-19 17:47] #179 closed

[2022-03-19 20:35] dontlaugh commented on #175
Fixed in https://github.com/JLErvin/berry/pull/178

[2022-03-19 20:35] #175 closed

[2022-03-20 07:42] toshmukhamedov opened #181 "The telegram sometimes freezes"
Telegram Desktop: 3.6.1v
OS: Arch Linux
Kernel: 5.16.15-arch1-1

Maybe this is a problem with Qt

[2022-03-27 18:00] jgarte opened #182 "`berryc send_to_workspace 0` sends to workspace 1"
`berryc send_to_workspace 0` sends to workspace 1.

Is this the intended functionality?

It feels like everything is off by 1 which is a bit confusing.

[2022-03-27 23:48] JLErvin commented on #182
What is the command in your `sxhkdrc` to switch workspace?

[2022-03-28 03:39] abenson commented on #144
I would like it to properly support `DESTDIR`.

[2022-03-28 17:06] jgarte commented on #182
Here's my whole sxhkdrc that I'm using with berry:

[code]

[2022-03-30 19:31] real-99 commented on #171
As @JLErvin said, its preferable to use the `berryc` CLI to change berry's settings. If you want to reload the config file anyway, you can use the following snippet inside `~/.config/berry/sxhkdrc`:
[code]

[2022-04-19 17:41] jgarte opened #183 "swap left and right window"
How can I swap the left and right window?

This is the only thing I miss from dwm.

In dwm I would just press `prefix+RET` to swap the position of the left and right window.

[2022-04-27 19:51] willowbit commented on #143
Any update on this? Loving berry so far

[2022-04-27 21:06] JLErvin commented on #143
Sorry, this slipped off my radar. Out of town until this weekend but will look into it when I get home.

[2022-05-08 05:51] JLErvin commented on #143
@willowbit can you try the changes made here https://github.com/JLErvin/berry/issues/143 and see if they persist decorations for you?

[2022-05-09 00:58] willowbit commented on #143
This works wonderfully, thank you so much!

Looking forward to your work :)

[2022-06-11 11:53] two-horned opened #186 "Focus lost on windows using external previewing tools"
Using the [nnn](https://github.com/jarun/nnn) file manager, I can't use the 'preview-tabbed' script without constantly losing focus. It's a script that constantly invokes other programs and nests it in [tabbed](https://tools.suckless.org/tabbed/)

Reference:
- https://ufile.io/8nhv62l5 (link expires)

[2022-06-21 08:44] squidgyberries commented on #2
IMO it would be useful if there was an option to turn on dragging windows outside of the screen edges. I personally like dragging windows outside to clear up some space but still have them right there.

[2022-06-21 13:31] squidgyberries commented on #2
Would be nice if it didn't create windows outside of the designated screen space when edge_lock is set to "false"

[2022-06-25 09:57] xalexalex opened #187 "Cardinal focus: wrong documentation and possible room for improvement"
Hey,
https://github.com/JLErvin/berry/blob/master/berryc.1#L74
says that the arguments to cardinal focus are "1,2,3,4", but
https://github.com/JLErvin/berry/blob/master/types.h#L77-L82
implies that the arguments should be "0,1,2,3" for "E,N,W,S" respectively.

I could have filed a PR to simply change 1,2,3,4 to 0,1,2,3 in `berryc.1`. However, I feel the documentation as it stands is not clear: how

[2022-07-03 00:23] #144 closed

[2022-07-06 21:40] Randalix opened #188 "Force Launch on Source Workspace"
I start e.g. Firefox on workspace 2 and while it is loading I switch to workspace 1.
How can I make sure Firefox is launching at workspace 2?

How to start applications on the workspace the have been called from?

[2022-07-20 20:17] joni50 opened #189 "handle resize like most window managers"
As the title suggests, this issue encourages the use of `mod4` and right click instead of `mod1` and left click.

This way this window manager would be more convenient for newbies who want to experiment.
I've come back to this window manager a few times until I noticed how to resize windows.

I've already tried to implement this, but my C knowledge is very limiting.

Keep up the good work!
Hope th

[2022-07-20 23:44] JLErvin commented on #189
imo there are two main problems here,

The first is discoverability - it should be intuitive for folks to find out how to resize windows via the documentation. We could try adding something to the man pages or docs to help with this. Ideally I think we could add some sort of functionality to allow regional-window resizing (i.e. if your cursor is at the bottom right of a window you can drag to resi

[2022-07-21 07:59] joni50 commented on #189
Documenting and changing the resize behaviour seem good suggestions.

However, I am unable to figure out how to change resize from left click to right click. Could you give me a hint, or even better, look at it yourself?

As I mentioned above, my C knowledge is not really good.

[2022-07-25 08:52] Sidd-Dino commented on #189
I've made an attempt to implement the feature in question in a separate [branch](/Sidd-Dino/berry/tree/super_resize)
You can modify the buttons used for moving and resizing during *compile time* by modifying **config.h**.

[code]

Feel free to check out the commit history to see what I changed

*P.S: Button3 is the right mouse button*

[2022-08-19 06:19] letterlock commented on #189
to add to this, I've merged @Sidd-Dino's changes with #184 on my own fork [here](https://github.com/letterlock/berry).

i'm not entirely sure if i've done everything correctly (i wasn't sure if i could merge branches across forks), and i'm pretty sure both of these changes already have a pr associated with them, so i've just grouped them together for convenience if anyone stumbles in here while we

[2022-08-19 06:34] letterlock opened #190 "questions about cycle_focus"
first off, loving berry so much. it really fills this niche of; lightweight, keyboard-manageable, **_stacking/floating_** that i was missing in basically every other standalone window manager, so kudos for that. it's been my daily driver for a bit now and aside from a couple of small things, i couldn't be happier with it.

my main gripes have to do with cycle_focus, mainly:

- how it interacts wit

[2022-08-19 12:49] Sidd-Dino commented on #189
Hey @letterlock,
The changes I made in my fork are a bit janky..
They were intended as a proof of concept.
I might make changes to them so that they are... less jank.

[2022-08-21 05:31] letterlock commented on #189
by all means! i just wanted easier access to a stable berry build with your fix and #184 together so i didn't have to manually rebuild it if i needed to reinstall etc.

i don't know enough c to be able to recognise janky code, let alone run with it and build other stuff on top of it, if that was your concern.

[2022-08-21 05:36] JLErvin commented on #189
I encourage you to open a PR for this @Sidd-Dino, that's the most effective way for me to give feedback so that we can merge this into the main repo (btw, you can create PRs for forks).

In general I think it's pretty close so I think it could be worth doing :)

[2022-08-21 11:04] Sidd-Dino commented on #189
#191
**A new PR is born.**
The new PR has modifications that allows configuration during compile time (via `config.h`) and during runtime using `berryc`.

The config.h options being
[code]

The berryc options being
[code]

[2022-08-21 11:31] letterlock commented on #189
that looks great. is there any way i can help test these changes (if necessary)? how much does the code differ from your fork?

[2022-08-21 11:54] Sidd-Dino commented on #189
Just try running it and see if moving/resizing windows with the configured mouse buttons works or not.

configure the mouse buttons using `berryc`

[code]
The branch mentioned in the PR differs greatly from the branch i mentioned previously in this thread.
The IPC stuff is just stuff needed for berryc to communicate with berry

[2022-08-22 13:45] letterlock commented on #189
sweet. tested with

[code]

in my autostart file. works as expected. fiddling around with different buttons seems also to work fine, no responding to buttons outside of the specified commands or not responding to the correct ones.

[2022-08-26 09:59] letterlock commented on #189
so - unsure if i should be double posting here or editing my earlier reply, so sorry if this is bad form.

it seems that this build breaks the ability to drag windows by the title bar of their decorations. it's a very minor issue imo and i only notice it because i tend to swap between my gaming rig and my linux box quite often. i just figured i would mention it, as it seems related to @Sidd-Dino's

[2022-08-26 10:31] Sidd-Dino commented on #189
Whooops my bad.
Working on fixing it ASAP

[2022-08-26 12:24] letterlock commented on #189
that does indeed fix it.

right, of course! will do that from now on. i knew there was a better place but i was blanking. x^)

[2022-09-07 08:10] 4zv4l commented on #143
Hey,
I open it again because it still happen to me, when I move a window from a workspace to another its decoration is removed.
[code]
that's how I send the window to another workspace in my sxhkdrc script

[2022-09-21 02:21] xfnw commented on #169
possibly a duplicate of #143, except for the "clicking on it brings the title back" part

does this still happen after applying #184?

[2022-09-24 19:37] anchovyyy opened #192 "Different color border being drawn on windows depending on the color of the contents of the window."
If the majority of a window is a certain color, an additional border is drawn of that color on the window. This wasn't the case before, how can I disable this?

[code]

![image](https://user-images.githubusercontent.com/98144599/192115152-d7e24049-a634-4df7-8be4-24253f439da4.png)

![image](https://user-images.githubusercontent.com/98144599/192115174-b152d5dd-3010-4933-9abc-9aa33ba26f57.png)

![ima

[2022-10-23 19:52] xenanthropy opened #193 "Imperfect/Inconsistent (?) resizing in regards to window snapping and maximizing"
This has been an issue for as long as i've used berry but finally decided to make an official issue. I've noticed that when moving windows with keybinds (either mod + O/P to snap left or right, or mod + M to maximize) it doesn't perfectly resize/place the window on first key-press; You have to press the same keybind again and it will shift the window size/position to properly lock it into whatever

[2022-10-23 19:57] xenanthropy commented on #193
To rule out some things - I've also replicated this issue without the window title borders, so that's not something that's affecting this

[2022-10-23 20:04] xenanthropy commented on #193
Even extra information! (Sorry, really don't want to add all of this into the main post, it's already a mess to read) A while back, I made some modifications to berry in order to add the functionality of quartering windows, in order to snap to topleft, topright, bottomleft, bottomright (Didn't officially fork it so my changes were undocumented, i'm sorry open-source community) . The code I hacked

[2022-10-23 20:06] JLErvin commented on #193
Thanks for the detailed write-up. Whats the terminal application you're using?

[2022-10-23 20:14] xenanthropy commented on #193
xfce4-terminal in this instance, although this happens with any application (i'm just displaying the issue with this because my current system is very bare, I don't have any other screenshot applications installed beside scrot) I could spin up a VM (maybe archcraft, they have a berry config) and screenshot the same issues if need be! I didn't pick a very good system to display this problem on

[2022-10-24 02:09] moilong opened #194 "cannot set default workspaces as 1-5 (removing ws 0)"
This is my sxhkdrc config
super + {1-5}
    berryc switch_workspace {1-5}
super + shift + {1-5}
    berryc send_to_workspace {1-5}
But berry opens with workspace 0. When I switch workspace windows in ws 0 lost permanently. After switching to another workspace there is no ws 0 until I restart berry.

[2022-10-24 06:21] JLErvin commented on #194
Yeah, your `schkdrc` isn't configured properly. Looking at the provided sample configuration, you'll want something like this:
[code]
`berry` workspaces are 0-indexed, whereas you likely want your keyboard to be 1-indexed.

[2022-10-24 07:47] moilong commented on #194
Then I should change to 0-5. Thanks.

[2022-10-24 07:48] #194 closed

[2022-10-24 13:27] xenanthropy commented on #193
Yeah sure! My autostart is just the default one that comes with berry, with my sxhkd start line at the top of it.

Interestingly enough, i'm testing it with other windows and it actually doesn't seem to be having the same issue... I swear I remember it happening with all programs (although admittedly it's been awhile since i've daily driven berry, I could be mistaken) It is however consistently ha

[2022-10-24 13:48] xenanthropy commented on #193
Ok, update! I'm actually on my main system now, I already had berry installed so I logged out and switched to it (i'm on Arch)
I cannot produce the bug with any other programs except terminals! I've tried multiple terminals now, here are my findings:

Alacritty: fine
Sakura: fine
xfce4-terminal: bug
gnome-terminal: bug
urxvt: fine
uxterm: fine
xterm: fine
kitty: fine

I can only seem to reproduce

[2022-10-24 19:05] vaskark opened #195 "Title height and inner border width"
When I use `inner_border_width 5` along with `title_height 24` it produces a title that is no longer centered vertically (seen below):

![titlebar](https://user-images.githubusercontent.com/33555080/197604774-82540ce3-d5b4-49b3-b89d-0fc3aecb91e8.png)

I'm assuming it's the 5 being added to the top of the inner border. Is there anyway around this?

Thanks.

[2022-11-28 22:30] rice7th opened #196 "inner_border_width changes both "middle border" and inner boder sizes"
Before going any further, i need to specify that the "middle border" is the yellow part of the window in the screenshot below:
![screenshot](https://user-images.githubusercontent.com/93940240/204393848-c1218aac-113d-432c-9461-750bb9b2711a.png).

Changing `inner_border_width` changes also that "middle border". Here's an example with a size of 10:
![2022-11-28_23-27](https://user-images.githubuserco

[2022-11-28 22:36] rice7th opened #197 "I should be able to focus a window by clicking its contents rather that its titlebar"
when you have multiple windows in berry, to focus one another you need to click the titlebar of each. The only problem is that, in certain situations, those titlebars are not accessible, and so i need to move half of the windows just to get that one focused. I know i could use `berryc focus_follows_pointer`, but by using that the window gets sent above all the others, and i dont want that: i want

[2022-11-28 22:39] rice7th commented on #2
I've just made an issue about a feature which i would like to implement. More info in #197. If you want me to explain it a bit better just let me know

[2022-11-28 22:40] JLErvin commented on #197
do you have [this](https://github.com/JLErvin/berry/blob/e5bcb3f04f6b4b1a26b0966d67ae9e2cd5c77fdd/examples/sxhkdrc#L57-L58) in your `sxhkdrc`?